/* line 7, ../sass/inventory.scss */
.view-tile .view-action-btn {
  visibility: hidden;
}

/* line 11, ../sass/inventory.scss */
.view-tile:hover .view-action-btn {
  visibility: visible;
  background-color: transparent;
  padding: 4px 0px 0px 0px;
  border: 0px;
  background-image: none;
}

/* line 19, ../sass/inventory.scss */
.view-action-btn {
  visibility: visible;
  background-color: transparent;
  padding: 4px 0px 0px 0px;
  border: 0px;
  background-image: none;
}

/* line 27, ../sass/inventory.scss */
.enable-icon {
  background-image: url(/manh/olm/inventory/resources/icons/active_config.png);
}

/* line 31, ../sass/inventory.scss */
.inv-attr-selection-header {
  text-align: center;
  background-color: #333333;
}

/* line 36, ../sass/inventory.scss */
.inv-attr-selection-header div {
  vertical-align: middle !important;
}

/* line 40, ../sass/inventory.scss */
.inv-attr-search-trigger {
  background-image: url(/manh/olm/inventory/resources/icons/filter/trigger_clear_search.png);
}

/* line 44, ../sass/inventory.scss */
.inv-attr-add-trigger {
  background-image: url(/manh/olm/inventory/resources/icons/filter/trigger_add_value.png);
}

/* line 48, ../sass/inventory.scss */
.inv-attr-remove-value {
  background-image: url(/manh/olm/inventory/resources/icons/filter/remove_value.png);
}

/* line 52, ../sass/inventory.scss */
.inv-attr-invalid-value {
  background-image: url(/manh/olm/inventory/resources/icons/filter/remove_value.png);
}

/* line 56, ../sass/inventory.scss */
.inv-save-rename-icon {
  background-image: url(/manh/olm/inventory/resources/icons/filter/save_icon.png);
  margin: 0 0 0 3px;
  padding: 0px;
  border: none;
  /*background-position: $inv-save-rename-icon-background-position;*/
}

/* line 64, ../sass/inventory.scss */
.inv-ruleset-rank-font {
  font: normal 20px "Segoe UI";
}

/* line 68, ../sass/inventory.scss */
.inv-attr-save-selections {
  background-image: url(/manh/olm/inventory/resources/icons/filter/save_icon.png);
  background-position: 0 0;
}

/* line 72, ../sass/inventory.scss */
.inv-attr-reset-selections {
  background-image: url(/manh/olm/inventory/resources/icons/filter/reset_selections.png) !important;
}

/* line 77, ../sass/inventory.scss */
.inv-action-menu-icon {
  background-image: url("/manh/olm/inventory/resources/icons/action_icon.png") !important;
  background-position: left top;
  background-repeat: no-repeat;
}

/* line 82, ../sass/inventory.scss */
.inv-action-return-icon {
  background-image: url("/manh/olm/inventory/resources/icons/back_icon.png") !important;
  background-position: left top;
  background-repeat: no-repeat;
}

/* line 87, ../sass/inventory.scss */
.inv-action-save-icon {
  background-image: url("/manh/olm/inventory/resources/icons/save_icon.png") !important;
  background-position: left top;
  background-repeat: no-repeat;
}

/* line 92, ../sass/inventory.scss */
.inv-ruleset-unselect {
  background-color: #919191;
}

/* line 95, ../sass/inventory.scss */
.inv-ruleset-select {
  background-color: #48a2c0;
}

/* line 107, ../sass/inventory.scss */
.hover-action-btn {
  visibility: hidden;
}

/* line 110, ../sass/inventory.scss */
.x-grid-row-over .hover-action-btn, .x-grid-row-focused .hover-action-btn {
  visibility: visible;
}

/* line 113, ../sass/inventory.scss */
.filter-list-focus .x-toolbar {
  background-color: #78aa77;
  background-image: none;
}

/* line 118, ../sass/inventory.scss */
.filter-list-defocus .x-toolbar {
  background-color: #666666;
  background-image: none;
}

/* line 123, ../sass/inventory.scss */
.inv-view-config-menu-disable {
  opacity: 1;
}

/* line 127, ../sass/inventory.scss */
.inv-on-hand-border {
  border-right: 1px solid black;
}

/* line 131, ../sass/inventory.scss */
.inv-no-wrap {
  white-space: nowrap;
}

/* line 135, ../sass/inventory.scss */
.inv-disabled-opacity {
  opacity: 0.3;
}

/* line 138, ../sass/inventory.scss */
.inv-action-add-config-icon {
  background-image: url("/manh/olm/inventory/resources/icons/add_config.png");
  background-position: left top;
  background-repeat: no-repeat;
}

/* line 143, ../sass/inventory.scss */
.inv-border-right {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #848482;
}

/* line 148, ../sass/inventory.scss */
.inv-outage-add-icon {
  background-image: url("/manh/olm/inventory/resources/icons/add_outage_rule.png");
}

/* line 151, ../sass/inventory.scss */
.inv-outage-save-icon {
  background-image: url("/manh/olm/inventory/resources/icons/save_icon_large.png");
}

/* line 154, ../sass/inventory.scss */
.inv-text-align-center {
  text-align: center;
}

/* line 158, ../sass/inventory.scss */
.inv-outage-reset-icon {
  background-image: url("/manh/olm/inventory/resources/icons/reset_outage attributes.png");
  border-width: 0px;
  background-position: left top;
  background-repeat: no-repeat;
}

/* line 164, ../sass/inventory.scss */
.inv-ruleset-list-active {
  background: url("/manh/olm/inventory/resources/icons/current_rule.png") 15px no-repeat;
}

/* line 167, ../sass/inventory.scss */
.inv-ruleset-list-planned {
  background: url("/manh/olm/inventory/resources/icons/planned_rule.png") 15px no-repeat;
}

/* line 170, ../sass/inventory.scss */
.inv-ruleset-list-expired {
  background: url("/manh/olm/inventory/resources/icons/expired_rule.png") 15px no-repeat;
}

/* line 173, ../sass/inventory.scss */
.inv-inventory-instock {
  background: url("/manh/olm/inventory/resources/icons/current_rule.png") 0px 7px no-repeat;
}

/* line 176, ../sass/inventory.scss */
.inv-ruleset-limitedstock {
  background: url("/manh/olm/inventory/resources/icons/planned_rule.png") 0px 7px no-repeat;
}

/* line 179, ../sass/inventory.scss */
.inv-ruleset-outofstock {
  background: url("/manh/olm/inventory/resources/icons/expired_rule.png") 0px 7px no-repeat;
}

/* line 182, ../sass/inventory.scss */
.inv-reason-text {
  font: normal 14px "Segoe UI";
  font-weight: 700;
  padding: 2px 0px 0px 0px;
}

/* line 187, ../sass/inventory.scss */
.summary-header-border {
  border-style: solid;
  border-width: 1px;
}

/* line 191, ../sass/inventory.scss */
.inv-rule-list .x-grid-cell-inner {
  vertical-align: middle;
}

/* line 194, ../sass/inventory.scss */
.summary-header-align {
  text-align: center;
}

/* line 197, ../sass/inventory.scss */
.grouped-header-text {
  font-weight: normal;
}

/* line 200, ../sass/inventory.scss */
.inv-outagerule-config {
  background-color: #666666;
}

/*grid related css changes */
/* line 206, ../sass/inventory.scss */
.inv-grid .x-grid-row .x-grid-cell {
  background-color: white;
  color: black;
  border: none;
}

/* line 212, ../sass/inventory.scss */
.inv-grid .x-grid-row-alt .x-grid-cell {
  background-color: #e5e5e5;
  color: black;
}

/* line 217, ../sass/inventory.scss */
.inv-grid .x-panel-default-outer-border-rbl {
  border-right-color: #cfcfcf !important;
  border-bottom-color: #cfcfcf !important;
  border-left-color: #cfcfcf !important;
}

/* line 223, ../sass/inventory.scss */
.inv-grid .x-grid-row-over .x-grid-cell {
  background-color: #c5ddeb;
}

/* line 228, ../sass/inventory.scss */
.inv-grid .x-grid-row-selected .x-grid-cell {
  background-color: #48a2c0;
  color: #FFFFFF;
}

/* line 233, ../sass/inventory.scss */
.inv-grid-filter-list .x-grid-cell {
  background-color: #b3b3b3;
  border-bottom: 3px solid white;
  height: 30px;
}

/* line 241, ../sass/inventory.scss */
.x-tab-location-active {
  background-color: #78aa77 !important;
  font: normal 14px "Segoe UI" !important;
}

/* line 246, ../sass/inventory.scss */
.inv-location-tab .inv-filter {
  border-top: 5px solid #78aa77;
}

/* line 250, ../sass/inventory.scss */
.x-tab-item-active {
  background-color: #78aa77 !important;
}

/* line 254, ../sass/inventory.scss */
.inv-item-tab .inv-filter {
  border-top: 5px solid #78aa77;
}

/* line 258, ../sass/inventory.scss */
.x-tab-supplytype-active {
  background-color: #78aa77 !important;
}

/* line 262, ../sass/inventory.scss */
.inv-supplytype-tab .inv-filter {
  border-top: 5px solid #78aa77;
}

/* line 266, ../sass/inventory.scss */
.x-tab-commerce-active {
  background-color: #78aa77 !important;
}

/* line 270, ../sass/inventory.scss */
.inv-commerce-tab .inv-commercefiltertab {
  border-top: 5px solid #78aa77;
}

/* line 274, ../sass/inventory.scss */
.x-tab-prot-capc-active {
  background-color: #78aa77 !important;
}

/* line 278, ../sass/inventory.scss */
.inv-protection-tab .inv-protectionandcapacity {
  border-top: 5px solid #78aa77 !important;
}

/* line 282, ../sass/inventory.scss */
.inv-filter-attribute-label {
  font: normal 16px "Segoe UI";
  color: #cfcfcf;
}

/* line 287, ../sass/inventory.scss */
.inv-filter-value-add {
  border: 1px solid black;
}

/* line 291, ../sass/inventory.scss */
.inv-empty-text {
  font: italic 12px "Segoe UI";
  color: #666666;
}

/* line 296, ../sass/inventory.scss */
.inv-availability-setting-header {
  background-color: #666666;
}

/* line 301, ../sass/inventory.scss */
.inv-operator-bar .x-toolbar {
  padding: 0px;
  border-bottom: 1px solid black !important;
}

/* line 306, ../sass/inventory.scss */
.inv-filter-action {
  background-color: #cfcfcf;
}

/* line 310, ../sass/inventory.scss */
.inv-availability-setting-facility-type .x-form-cb-label {
  font: normal 14px "Segoe UI" !important;
  color: #cfcfcf;
}

/* line 315, ../sass/inventory.scss */
.inv-ruleset-name-label {
  font: normal 16px "Segoe UI" !important;
  color: white;
}

/* line 323, ../sass/inventory.scss */
.inv-commerceviewdetail {
  background-color: white;
}

/* line 327, ../sass/inventory.scss */
.inv-commerecviewtile {
  background-color: #333333;
}

/* line 331, ../sass/inventory.scss */
.inv-commercetile-active {
  background-color: #78aa77;
  border: 2px solid white;
}

/* line 336, ../sass/inventory.scss */
.inv-commercetile-inactive {
  background-color: #999999;
  border: 2px solid white;
}

/* line 341, ../sass/inventory.scss */
.inv-commerectile-viewname {
  font: normal 18px "Segoe UI" !important;
  color: #b3b3b3;
  text-transform: uppercase;
}

/* line 347, ../sass/inventory.scss */
.inv-commerectile-status {
  font: normal 18px "Segoe UI" !important;
  font-weight: 200;
  color: white;
}

/* line 353, ../sass/inventory.scss */
.inv-commerectile-config-name {
  font: normal 16px "Segoe UI" !important;
  color: #262626;
  font-weight: 600;
}

/* line 359, ../sass/inventory.scss */
.inv-commerce-view-type {
  font: normal 15px "Segoe UI" !important;
  font-weight: 300;
  color: #b3b3b3;
}

/* line 365, ../sass/inventory.scss */
.inv-rule-header .x-tab-inner {
  font: normal 13px "Segoe UI" !important;
  color: #000000;
  text-transform: uppercase;
}

/* line 371, ../sass/inventory.scss */
.inv-tab-separator {
  width: 300px;
  border: none;
  background-color: white;
}

/* line 377, ../sass/inventory.scss */
.inv-grid-body {
  border: 5px solid #FFFFFF;
}

/* line 381, ../sass/inventory.scss */
.inv-grid-filter-list .x-grid-row-selected .x-grid-cell {
  font: normal 14px "Segoe UI" !important;
  color: #FFFFFF;
  background-color: #48A2C0;
}

/* line 387, ../sass/inventory.scss */
.inv-grid-filter-list .x-grid-row {
  font: normal 14px "Segoe UI" !important;
  color: #FFFFFF;
  background-color: #919191;
}

/* line 393, ../sass/inventory.scss */
.inv-commerce-screen-header {
  font: normal 28px "Segoe UI" !important;
  font-weight: 200;
  color: #000000;
  text-transform: uppercase;
}

/* line 400, ../sass/inventory.scss */
.inv-view-config-header-label {
  font: normal 24px "Segoe UI" !important;
  color: #000000;
  text-transform: uppercase;
}

/* line 406, ../sass/inventory.scss */
.inv-config-tool-bar {
  height: 32px;
  padding: 0px;
}

/* line 411, ../sass/inventory.scss */
.inv-location-icon {
  background-image: url("/manh/olm/inventory/resources/icons/location.png");
}

/* line 415, ../sass/inventory.scss */
.inv-item-icon {
  background-image: url("/manh/olm/inventory/resources/icons/item.png");
}

/* line 419, ../sass/inventory.scss */
.inv-supply-icon {
  background-image: url("/manh/olm/inventory/resources/icons/supply_type.png");
}

/* line 423, ../sass/inventory.scss */
.inv-commerce-icon {
  background-image: url("/manh/olm/inventory/resources/icons/commerce.png");
}

/* line 427, ../sass/inventory.scss */
.inv-protection-icon {
  background-image: url("/manh/olm/inventory/resources/icons/protection_capacity.png");
}

/* line 431, ../sass/inventory.scss */
.inv-rule-header .x-tab-bar-strip-default-top {
  height: 0px;
}

/* line 435, ../sass/inventory.scss */
.inv-rule-header .x-tab-bar-body-default-top {
  padding-bottom: 0px;
}

/* line 439, ../sass/inventory.scss */
.inv-rule-header .x-tab-default-top {
  background-color: #FFFFFF;
  border-right: 1px solid black !important;
  border-radius: 0px;
}

/* line 445, ../sass/inventory.scss */
.inv-config-detail .x-tab-inner {
  font: normal 16px "Segoe UI";
  color: #666666;
}

/* line 450, ../sass/inventory.scss */
.inv-config-detail .x-tab-bar-strip-default-top {
  height: 0px;
}

/* line 454, ../sass/inventory.scss */
.x-tab-avail-setting-active {
  background-color: #000000 !important;
  font: normal 14px "Segoe UI" !important;
  color: #CFCFCF;
}

/* line 460, ../sass/inventory.scss */
.x-tab-other-setting-active {
  background-color: #000000 !important;
  font: normal 14px "Segoe UI" !important;
  color: #CFCFCF;
}

/* line 466, ../sass/inventory.scss */
.inv-config-detail .x-tab-default-active {
  background-color: #000000;
}

/* line 470, ../sass/inventory.scss */
.inv-config-detail .x-tab-default-active .x-tab-inner {
  color: #4FC9F1;
}

/* line 474, ../sass/inventory.scss */
.inv-radio .x-form-radio {
  background-image: url("/manh/olm/inventory/resources/icons/component/radio.png") !important;
}

/* line 478, ../sass/inventory.scss */
.inv-grid-filter-list .x-btn-default-toolbar-small {
  background-image: none;
  background-color: transparent;
  border: none;
}

/* line 484, ../sass/inventory.scss */
.inv-grid-filter-list .x-btn-default-toolbar-small .x-btn-inner {
  font: normal 13px "Segoe UI";
  color: white;
  text-transform: uppercase;
}

/* line 490, ../sass/inventory.scss */
.inv-add-icon {
  background-image: url("/manh/olm/inventory/resources/icons/add_ruleset.png");
}

/* line 494, ../sass/inventory.scss */
.inv-rulset-rename-icon {
  background-image: url("/manh/olm/inventory/resources/icons/rename_ruleset.png");
}

/* line 498, ../sass/inventory.scss */
.inv-ruleset-delete-icon {
  background-image: url("/manh/olm/inventory/resources/icons/delete_ruleset.png");
}

/* line 502, ../sass/inventory.scss */
.inv-facility-type-border {
  border-right: 2px solid white;
}

/* line 506, ../sass/inventory.scss */
.inv-grouped-header-text {
  font-weight: normal;
  color: #000000;
}

/* line 510, ../sass/inventory.scss */
.inv-grouped-header-table {
  border-spacing: 5px 5px;
}

/* line 514, ../sass/inventory.scss */
.panel-header .x-tool {
  left: 0 !important;
}

/* line 518, ../sass/inventory.scss */
.panel-header .x-panel-header-text-container {
  padding-left: 25px;
}

/* line 522, ../sass/inventory.scss */
.inv-protection-label .x-form-cb-label {
  font: normal 13px "Segoe UI" !important;
  color: #000000;
}

/* line 527, ../sass/inventory.scss */
.inv-protection-label {
  font: normal 13px "Segoe UI" !important;
  color: #000000;
}

/* line 532, ../sass/inventory.scss */
.inv-protection-textfield .x-form-item-label {
  font: normal 13px "Segoe UI";
  color: #000000;
  white-space: nowrap;
}

/* line 538, ../sass/inventory.scss */
.inv-protection-textfield .x-form-text {
  border: 1px solid #000000;
  font: normal 13px "Segoe UI";
}

/* line 543, ../sass/inventory.scss */
.inv-protection-panel .x-panel-header-default {
  background-color: #D9D9D9;
  height: 30px;
  padding: 5px 5px 5px 15px;
}

/* line 549, ../sass/inventory.scss */
.inv-protection-panel .x-panel-header-text-container-default {
  font: normal 13px "Segoe UI" !important;
  color: #000000;
}

/* line 554, ../sass/inventory.scss */
.inv-prot-border-top {
  border-top: 5px solid #8b55ab;
}

/* line 558, ../sass/inventory.scss */
.inv-add-view-icon {
  background-image: url("/manh/olm/inventory/resources/icons/add_view.png");
}

/* line 562, ../sass/inventory.scss */
.inv-viewname-textfield .x-form-text {
  border: 1px solid #000000;
  font: normal 16px "Segoe UI" !important;
}

/* line 567, ../sass/inventory.scss */
.inv-config-arrow-enable {
  background-image: url("/manh/olm/inventory/resources/icons/menudown.png");
  width: 22px !important;
}

/* line 572, ../sass/inventory.scss */
.inv-config-arrow-disable {
  background-image: url("/manh/olm/inventory/resources/icons/menudown.png");
  width: 22px !important;
  background-position: -22px 0px;
}

/* line 578, ../sass/inventory.scss */
.inv-view-action-btn {
  visibility: visible;
  background-color: transparent;
  padding: 4px 0px 0px 0px;
  border: 0px;
  background-image: none;
}

/*Menu entries */
/* line 587, ../sass/inventory.scss */
.inv-config-count-label {
  font: normal 18px "Segoe UI" !important;
  font-weight: 300;
  color: #b3b3b3;
}

/* line 593, ../sass/inventory.scss */
.inv-menu .x-menu-item-active {
  background-color: #C5DDEB;
}

/* line 597, ../sass/inventory.scss */
.inv-menu .x-menu-item-arrow {
  background-image: url("/manh/olm/inventory/resources/icons/page_next.png");
  height: 12px;
  width: 18px;
  background-repeat: no-repeat;
}

/* line 603, ../sass/inventory.scss */
.inv-menu .x-menu-body {
  background: #d9d9d9;
}

/* line 607, ../sass/inventory.scss */
.inv-menu .x-menu-item {
  height: 25px;
}

/* line 611, ../sass/inventory.scss */
.inv-dialogmenu .x-menu-item-link, .x-menu-item-cmp {
  background: #d9d9d9;
  margin: 0px;
}

/* line 615, ../sass/inventory.scss */
.inv-menu .x-menu-item-text {
  font: normal 12px "Segoe UI" !important;
  padding-right: 20px;
  padding-top: 6px;
  vertical-align: middle;
}

/* line 622, ../sass/inventory.scss */
.inv-dialogmenu-textfield .x-form-text {
  border: 1px solid #000000;
  font: italic 12px "Segoe UI" !important;
}

/* line 627, ../sass/inventory.scss */
.inv-operator-bar .x-toolbar-item {
  border-radius: 0px;
  border: 1px solid black;
  border-right: none;
  background: #FFFFFF;
  margin: 0px;
  padding: 6px 6px 6px 6px !important;
}

/* line 636, ../sass/inventory.scss */
.inv-operator-bar .x-btn-default-toolbar-small-pressed {
  background: #666666 !important;
}

/* line 640, ../sass/inventory.scss */
.inv-operator-bar .x-btn-inner-center {
  font: normal 12px "Segoe UI" !important;
  color: #b2b2b2;
  font-weight: bold;
}

/* line 646, ../sass/inventory.scss */
.inv-view-config-menu .x-btn-default-toolbar-small .x-btn-inner {
  font: normal 24px "Segoe UI" !important;
  color: #000000;
  text-transform: uppercase;
  padding: 0px;
  background: #000000;
}

/* line 654, ../sass/inventory.scss */
.inv-operator-bar {
  padding: 0px !important;
  border-right: 1px solid black !important;
  border-bottom: 1px solid black !important;
}

/* line 660, ../sass/inventory.scss */
.inv-filtersavemenu .x-box-inner {
  background-color: #CFCFCF !important;
}

/* line 664, ../sass/inventory.scss */
.inv-view-config-btn {
  background-color: transparent;
  border: 0px;
  background-image: none;
  padding: 0px;
}

/* line 671, ../sass/inventory.scss */
.inv-view-config-btn .x-btn-inner {
  font: normal 24px "Segoe UI" !important;
  color: #000000;
  text-transform: uppercase;
  padding-right: 10px;
}

/* line 678, ../sass/inventory.scss */
.inv-view-config-btn .x-btn-button {
  height: 32px;
  padding-right: 10px;
}

/* line 683, ../sass/inventory.scss */
.inv-view-config-btn .x-btn-arrow {
  background-image: url("/manh/olm/inventory/resources/icons/config_menu_down.png") !important;
}

/* line 687, ../sass/inventory.scss */
.inv-ruleset-add-icon {
  background-image: url("/manh/olm/inventory/resources/icons/add_ruleset_white.png") !important;
}

/* line 691, ../sass/inventory.scss */
.inv-grid .x-panel-default-outer-border-trl {
  border-top-color: #cfcfcf !important;
  border-right-color: #cfcfcf !important;
  border-left-color: #cfcfcf !important;
}

/* line 697, ../sass/inventory.scss */
.inv-ruleset-save-trigger {
  background-image: url("/manh/olm/inventory/resources/icons/save_trigger.png");
}

/* line 701, ../sass/inventory.scss */
.inv-grid .x-grid-with-row-lines .x-grid-table {
  border: none;
}

/* line 705, ../sass/inventory.scss */
.inv-add-rule-label {
  font: normal 12px "Segoe UI" !important;
  color: white;
}

/* line 713, ../sass/inventory.scss */
.inv-commerce-view-screen {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #5d71af), color-stop(0.67, #b8c4f0));
  background-image: -moz-linear-gradient(center bottom, #5d71af 33%, #b8c4f0 67%);
  padding: 2px;
}

/* line 719, ../sass/inventory.scss */
.inv-other-setting .x-panel-header-default {
  background-color: #D9D9D9;
  height: 30px;
  padding: 5px 5px 5px 15px;
}

/* line 725, ../sass/inventory.scss */
.inv-other-setting .x-panel-header-text-container-default {
  font: normal 13px "Segoe UI" !important;
  color: #000000;
}

/* line 730, ../sass/inventory.scss */
.inv-level-label {
  font: normal 13px "Segoe UI" !important;
  color: #000000;
}

/* line 735, ../sass/inventory.scss */
.inv-threshold-text {
  font: normal 13px "Segoe UI" !important;
  color: #000000;
}

/* line 740, ../sass/inventory.scss */
.inv-transparent-btn {
  border-radius: 0px;
  border: 1px solid black;
  background: #FFFFFF;
  margin: 0px;
}

/* line 747, ../sass/inventory.scss */
.inv-transparent-btn .x-btn-inner {
  font: normal 13px "Segoe UI" !important;
  color: #000000 !important;
}

/* line 752, ../sass/inventory.scss */
.inv-transparent-btn .x-btn-default-toolbar-small-pressed {
  background: #666666 !important;
}

/* line 756, ../sass/inventory.scss */
.x-btn-default-small-inv-btn-pressed {
  background: #48A2C0 !important;
}

/* line 760, ../sass/inventory.scss */
.x-btn-inv-btn-pressed {
  background: #48A2C0 !important;
}

/* line 764, ../sass/inventory.scss */
.x-btn-inv-btn-pressed .x-btn-inner {
  color: #FFFFFF !important;
}

/* line 768, ../sass/inventory.scss */
.inv-sync-btn-grp {
  border: none;
  padding: 0px;
}

/* line 773, ../sass/inventory.scss */
.inv-sync-btn-grp .x-btn-group-body-default-framed .x-table-layout {
  border-spacing: 0px;
}

/* line 777, ../sass/inventory.scss */
.inv-grid .x-grid-row-checker {
  background-image: url("/manh/olm/inventory/resources/icons/component/checkbox.png");
}

/* line 781, ../sass/inventory.scss */
.inv-grid .x-column-header-inner {
  background: transparent !important;
}

/* line 785, ../sass/inventory.scss */
.inv-checkbox .x-form-checkbox {
  background: url("/manh/olm/inventory/resources/icons/component/checkbox.png") no-repeat;
}

/* line 789, ../sass/inventory.scss */
.inv-timepickerfield .x-form-trigger-wrap {
  border: none;
  vertical-align: middle;
}

/* line 794, ../sass/inventory.scss */
.inv-timepickerfield .x-form-text {
  font: normal 14px "Segoe UI" !important;
  font-weight: 700;
  color: #000000;
}

/* line 800, ../sass/inventory.scss */
.inv-timepickerfield div.x-form-spinner-up {
  background-image: url("/manh/olm/inventory/resources/icons/timer_up.png");
  background-position: 0px 0px;
  height: 18px;
  background-repeat: no-repeat;
}

/* line 807, ../sass/inventory.scss */
.inv-timepickerfield div.x-form-spinner-down {
  background-image: url("/manh/olm/inventory/resources/icons/timer_down.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  height: 18px;
}

/* line 814, ../sass/inventory.scss */
.inv-timepickerfield .x-form-spinner-up-over {
  background-position: 0px 0px;
}

/* line 818, ../sass/inventory.scss */
.inv-timepickerfield .x-form-spinner-down-over {
  background-position: 0px 0px;
}

/* line 822, ../sass/inventory.scss */
.inv-outage-reason-header {
  font: normal 13px "Segoe UI";
}

/* line 826, ../sass/inventory.scss */
.inv-sync-btn-grp .x-btn-group-body-default-framed .x-table-layout {
  border-spacing: 0px;
}

/* Inventory scss ends */
/* Perpetual Inventory icon starts */
/* line 832, ../sass/inventory.scss */
.inv-grid-apply-error {
  background: url(../icons/perpetual/pencil.png) 70% no-repeat;
  cursor: 'pointer';
}

/* line 837, ../sass/inventory.scss */
.inv-grid-error-warning {
  background: url(../icons/perpetual/warning.png) 70% no-repeat;
  cursor: 'pointer';
}

/*Perpetual Inventory icon ends*/
/* line 843, ../sass/inventory.scss */
.inv-seg-grid-edit {
  background: url("/manh/olm/inventory/resources/icons/tile_rename_temp.png") 75% no-repeat;
  cursor: pointer;
}

/* line 848, ../sass/inventory.scss */
.inv-datetimefield .x-form-date-trigger {
  background-image: url("/manh/olm/inventory/resources/icons/date_trigger.png");
}

/* line 852, ../sass/inventory.scss */
.inv-datetimefield .x-form-trigger-wrap {
  border: 1px solid black;
}

/* line 856, ../sass/inventory.scss */
.inv-outagerulelist .x-grid-cell {
  background-color: #919191;
  color: #FFFFFF;
  border-top: 5px solid white;
}

/* line 862, ../sass/inventory.scss */
.inv-outagerulelist .x-grid-cell-inner {
  padding: 0px;
}

/* line 866, ../sass/inventory.scss */
.inv-outagerulelist .x-grid-row-selected .x-grid-cell {
  background-color: #48A2C0;
  color: #FFFFFF !important;
}

/* line 871, ../sass/inventory.scss */
.inv-outagerulelist .x-grid-cell-first {
  border-left: 6px solid #FFFFFF;
}

/* line 875, ../sass/inventory.scss */
.inv-outagerulelist .x-grid-cell-last {
  border-right: 6px solid #FFFFFF;
  vertical-align: middle;
}

/* line 880, ../sass/inventory.scss */
.inv-outage-date-text {
  font: normal 14px "Segoe UI";
}

/* line 884, ../sass/inventory.scss */
.inv-combo .x-form-trigger-wrap {
  border: 1px solid black;
}

/* line 888, ../sass/inventory.scss */
.inv-outage-config-label {
  font: normal 14px "Segoe UI";
  color: #FFFFFF;
  white-space: nowrap;
  vertical-align: middle;
}

/* line 895, ../sass/inventory.scss */
.inv-outage-textfield .x-form-text {
  border: 1px solid #000000;
}

/* line 899, ../sass/inventory.scss */
.inv-outage-action-bar {
  background-color: #cfcfcf;
  border-top: 7px solid #78AA77 !important;
}

/* line 904, ../sass/inventory.scss */
.inv-outage-rule-search-panel {
  border-bottom: 5px solid #e5e5e5 !important;
}

/* line 908, ../sass/inventory.scss */
.inv-outage-rule-search-panel .x-panel-header-default {
  background-color: #666666;
  padding: 8px 0px 8px 10px;
}

/* line 913, ../sass/inventory.scss */
.inv-item-filter .x-panel-header-default-horizontal-noborder {
  padding: 3px 3px 3px 10px !important;
  background-color: #e5e5e5 !important;
}

/* line 917, ../sass/inventory.scss */
.inv-outagefilter .x-panel-header-text-container-default {
  font: normal 13px "Segoe UI";
  color: #666666;
}

/* line 922, ../sass/inventory.scss */
.inv-item-filter-collapsed {
  padding: 3px 3px 3px 10px !important;
  background-color: #e5e5e5 !important;
}

/* line 927, ../sass/inventory.scss */
.inv-outagefilter .x-splitter-horizontal {
  background-color: #e86527;
}

/* line 931, ../sass/inventory.scss */
.inv-outage-toolbar {
  padding: 0px;
}

/* line 935, ../sass/inventory.scss */
.inv-attr-reset-selections-small {
  background-image: url(/manh/olm/inventory/resources/icons/filter/reset_selection_small.png);
}

/* line 939, ../sass/inventory.scss */
.inv-outage-rule-search-icon {
  background-image: url(/manh/olm/inventory/resources/icons/search_icon.png);
}

/* line 943, ../sass/inventory.scss */
.inv-outage-rule-search-icon .x-tool-img {
  background-color: transparent !important;
}

/* line 947, ../sass/inventory.scss */
.inv-outage-include-all {
  background-image: url(/manh/olm/inventory/resources/icons/component/checkbox.png);
  background-position: 0px 0px !important;
  background-repeat: no-repeat !important;
}

/* line 953, ../sass/inventory.scss */
.inv-remove-required .wt-form-required-label:after {
  content: '';
}

/* line 957, ../sass/inventory.scss */
.inv-rule-header .x-tab-prot-capc-active .x-tab-default-top {
  color: #000000 !important;
}

/* line 961, ../sass/inventory.scss */
.x-tab-avail-setting-active .x-tab-inner {
  color: #CFCFCF !important;
}

/* line 965, ../sass/inventory.scss */
.x-tab-other-setting-active .x-tab-inner {
  color: #CFCFCF !important;
}

/* line 969, ../sass/inventory.scss */
.inv-config-detail .x-tab-default-left {
  background-color: #fff5e6;
  border-top-right-radius: 0px;
  border-bottom-width: 1px !important;
  border-bottom-color: #b2b2b2 !important;
  border-bottom-style: solid;
  height: 36px;
}

/* line 978, ../sass/inventory.scss */
.x-tab-location-active .x-tab-inner {
  color: #FFFFFF;
}

/* line 982, ../sass/inventory.scss */
.x-tab-item-active .x-tab-inner {
  color: #FFFFFF;
}

/* line 986, ../sass/inventory.scss */
.x-tab-supplytype-active .x-tab-inner {
  color: #FFFFFF;
}

/* line 990, ../sass/inventory.scss */
.x-tab-commerce-active .x-tab-inner {
  color: #FFFFFF;
}

/* line 994, ../sass/inventory.scss */
.x-tab-prot-capc-active .x-tab-inner {
  color: #FFFFFF;
}

/* line 998, ../sass/inventory.scss */
.inv-filterlistpane {
  border-left: 1px solid #b2b2b2;
}

/* line 1002, ../sass/inventory.scss */
.inv-config-detail .x-tab-bar-strip-default-left {
  width: 1px;
  background-color: #b2b2b2 !important;
}

/* line 1007, ../sass/inventory.scss */
.inv-filterlist-body {
  background-color: #fff5e6 !important;
}

/* line 1011, ../sass/inventory.scss */
.inv-availability-search-fields {
  background-color: #C8C8C8;
}

/*Search Availability Styling Ends*/
/* line 1017, ../sass/inventory.scss */
.inv-outage-item-action-bar {
  background-color: #cfcfcf;
}

/* line 1021, ../sass/inventory.scss */
.panel-header .x-panel-header-default {
  background-color: #8B8B8B;
}

/* line 1025, ../sass/inventory.scss */
.panel-header .x-panel-header-default .x-tool-img {
  background-color: transparent;
}

/* line 1029, ../sass/inventory.scss */
.panel-header .x-tool-expand-top, .x-tool-collapse-top {
  background-position: 0px -224px;
}

/* line 1033, ../sass/inventory.scss */
.panel-header .x-tool-over .x-tool-collapse-top {
  background-position: 0px -224px;
}

/* line 1037, ../sass/inventory.scss */
.inv-rule-header .x-tab-default .x-tab-icon-el {
  background-position: 0px 0px;
}

/* line 1041, ../sass/inventory.scss */
.x-tab-location-active .x-tab-icon-el {
  background-position: -16px 0px !important;
}

/* line 1045, ../sass/inventory.scss */
.x-tab-item-active .x-tab-icon-el {
  background-position: -16px 0px !important;
}

/* line 1049, ../sass/inventory.scss */
.x-tab-supplytype-active .x-tab-icon-el {
  background-position: -16px 0px !important;
}

/* line 1053, ../sass/inventory.scss */
.x-tab-commerce-active .x-tab-icon-el {
  background-position: -16px 0px !important;
}

/* line 1057, ../sass/inventory.scss */
.x-tab-prot-capc-active .x-tab-icon-el {
  background-position: -16px 0px !important;
}

/* line 1061, ../sass/inventory.scss */
.inv-carousel-left-icon {
  background-image: url(/manh/olm/inventory/resources/icons/carousal/carousal_left.png) !important;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}

/* line 1069, ../sass/inventory.scss */
.inv-carousel-right-icon {
  background-image: url(/manh/olm/inventory/resources/icons/carousal/carousal_right.png) !important;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}

/* line 1077, ../sass/inventory.scss */
.inv-check-box-checked .x-form-checkbox {
  background-position: 0px -15px;
}

/* line 1081, ../sass/inventory.scss */
.inv-avail-unit-text {
  font: normal 16px "Segoe UI" !important;
  font-weight: 700;
  padding-top: 5px;
}

/* line 1087, ../sass/inventory.scss */
.inv-out-of-stock-text {
  font: normal 24px "Segoe UI" !important;
  color: #FF0000 !important;
  white-space: nowrap;
  text-align: right;
  text-transform: uppercase;
}

/* line 1095, ../sass/inventory.scss */
.inv-limited-stock-text {
  font: normal 24px "Segoe UI" !important;
  color: #FFC000 !important;
  white-space: nowrap;
  text-align: right;
  text-transform: uppercase;
}

/* line 1103, ../sass/inventory.scss */
.inv-in-stock-text {
  font: normal 24px "Segoe UI" !important;
  color: #92D050 !important;
  white-space: nowrap;
  text-align: right;
  text-transform: uppercase;
}

/* line 1111, ../sass/inventory.scss */
.inv-avail-displayfield .x-form-display-field-body {
  vertical-align: middle;
}

/* line 1115, ../sass/inventory.scss */
.inv-avail-displayfield {
  text-align: right;
}

/* line 1119, ../sass/inventory.scss */
.inv-availablity-header {
  font: normal 18px "Segoe UI" !important;
  color: #000000;
  text-transform: uppercase;
}

/* line 1125, ../sass/inventory.scss */
.inv-avail-facility-text {
  font: normal 14px "Segoe UI";
  margin-top: 4px;
  text-align: right;
  display: block;
}

/* line 1132, ../sass/inventory.scss */
.inv-available-text {
  font: normal 16px "Segoe UI";
  margin-top: 4px;
}

/* line 1137, ../sass/inventory.scss */
.inv-text-uppercase {
  text-transform: uppercase;
}

/* line 1141, ../sass/inventory.scss */
.inv-operator-bar .x-mask {
  border-left: 1px solid black;
  border-top: 1px solid black;
}

/* line 1146, ../sass/inventory.scss */
.inv-grid-filter-list .x-grid-cell-inner {
  font-size: 14px;
  padding-right: 0px;
  padding-left: 7px;
}

/* line 1152, ../sass/inventory.scss */
.inv-operator-bar-disabled .x-mask {
  background: none;
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 1157, ../sass/inventory.scss */
.inv-ie-disable-clear-icon input[type=text]::-ms-clear {
  display: none;
}

/* line 1161, ../sass/inventory.scss */
.inv-header-title-bold {
  font: normal 14px "Segoe UI Bold";
}

/* line 1165, ../sass/inventory.scss */
.inv-grid-filter-list .x-grid-row-editor-buttons .x-btn-inner {
  color: #B3B3B3;
}

/* line 1169, ../sass/inventory.scss */
.inv-grid-filter-list-disabled {
  opacity: 0.30000001192092896;
}

/* line 1173, ../sass/inventory.scss */
.inv-summary-header-text {
  font: 13px solid "Segoe UI";
  font-weight: 700;
}

/* line 1178, ../sass/inventory.scss */
.inv-include-all-text .x-form-cb-label {
  font-size: 14px;
  text-transform: uppercase;
}

/* line 1183, ../sass/inventory.scss */
.inv-grid .x-grid-cell {
  line-height: 17px;
}

/* line 1187, ../sass/inventory.scss */
.inv-filter-save-menu-icon {
  background-image: none;
}

/* line 1191, ../sass/inventory.scss */
.inv-protection-value-empty {
  font: italic 12px "Segoe UI" !important;
}

/* line 1195, ../sass/inventory.scss */
.inv-inventory-level-text {
  text-transform: uppercase;
}

/* line 1200, ../sass/inventory.scss */
.inv-inventory-level-text-border {
  border-bottom: 1px solid #848482;
}

/* line 1204, ../sass/inventory.scss */
.inv-threshold-textfield .x-form-item-label {
  font: normal 13px "Segoe UI";
  color: #000000;
  white-space: nowrap;
}

/* line 1210, ../sass/inventory.scss */
.inv-threshold-textfield .x-form-text {
  border: 1px solid #848482;
  font: normal 13px "Segoe UI";
}

/* line 1215, ../sass/inventory.scss */
.inv-group-grid .x-grid-with-row-lines .x-grid-table {
  border-top: 0px;
}

/* line 1219, ../sass/inventory.scss */
.inv-group-grid .x-grid-with-row-lines .x-grid-td {
  border-bottom: 0px;
}

/* line 1223, ../sass/inventory.scss */
.inv-remove-error-code {
  background: url("/manh/olm/inventory/resources/icons/perpetual/remove-error.png") 70% 50% no-repeat;
}

/* line 1227, ../sass/inventory.scss */
.inv-apply-error-code {
  background: url("/manh/olm/inventory/resources/icons/perpetual/apply-error.png") 70% 50% no-repeat;
}

/* line 1231, ../sass/inventory.scss */
.inv-filterlistpane .x-grid-row-editor .x-form-text {
  padding-top: 0px;
}

/* line 1235, ../sass/inventory.scss */
.inv-combo .x-form-text {
  padding: 0px 3px;
}
