/* Components */
.olm-modern-text {
	border-color: gray !important;
	font: normal 12px "Segoe UI" !important;
	background-image: none;
	resize: none;
}
.olm-textfield .x-form-text {
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	vertical-align: top;
	line-height: 20px;
}
.olm-padding {
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
}
/*Ranjith: Need to add x-field- as prefix because of bug in ExtJS 4.1 */
.x-field-olm-modern-text-focus {
	border-color: rgb(243, 115, 33) !important;
	font: normal 12px "Segoe UI" !important
}

/*Ranjith: Need to add x-field- as prefix because of bug in ExtJS 4.1 */
.olm-screen .x-form-empty-field {
	font: italic 12px "Segoe UI" !important;
	color: gray;
}

.olm-screen .x-form-radio {
	background-image:
		url('/manh/olm/resources/icons/radio/radio_button.png') !important;
}

/*
 * For inputType password, input field was getting the extra padding and 
 * resulting into misalignment. 
 */
.olm-screen .x-form-type-password .x-form-text {
	padding: 1px 3px;
}

.olm-popup .x-form-empty-field {
	font: italic 12px "Segoe UI" !important;
	color: gray;
}

.olm-popup .x-form-radio {
	background-image:
		url('/manh/olm/resources/icons/radio/radio_button.png') !important;
}

.olm-modern-trigger-field {
	border-width: 1px;
	border-color: gray;
	background-image: none;
	resize: none;
	font: normal 12px "Segoe UI" !important;
}

.olm-modern-trigger {
	background-image: url('/manh/olm/resources/icons/trigger/trigger.png')
		!important;
	border-bottom: none;
}

.x-panel-header-olm-modern-popup {
	font-size: 12px;
	border-color: #414141;
	border-width: 3px !important;
	border-style: solid;
	border-bottom-style: none;
	background-image: none;
	background-color: #ebebec;
	-webkit-box-shadow: #5a5a5a 0 1px 0px 0 inset;
	-moz-box-shadow: #5a5a5a 0 1px 0px 0 inset;
	box-shadow: #5a5a5a 0 1px 0px 0 inset;
}

.x-panel-body-olm-modern-popup {
	background: #ebebec;
	border-color: #414141;
	border-width: 3px !important;
	border-style: solid;
	border-top-style: none;
}

.olm-mask {
	z-index: 100000;
	position: absolute;
	top: 0;
	left: 0;
	filter: progid:  DXImageTransform.Microsoft.Alpha(  Opacity=  50 );
	opacity: 0.5;
	width: 100%;
	height: 100%;
	zoom: 1;
	background: black;
}

.x-panel-header-text-olm-modern-popup {
	color: black;
	font-size: 14px;
	font-weight: bold;
	font-family: Segoe UI;
	line-height: 15px;
	padding-left: 5px;
	padding-top: 15px;
}

/*.refresh-icon-hover {
	background-image:
		url('/manh/olm/resources/icons/refresh/refresh_hover.png');
}*/

.x-panel-header-olm-modern-accordian-panel {
	border-width: 1px !important;
	padding: 0px 17px 0px 17px;
	font-weight: normal;
	line-height: 28px;
	border-left-style: none;
}

.x-panel-header-olm-modern-accordian-panel-purple-header {
	font-size: 20px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-image: none;
	background-color: lightgrey;
	-webkit-box-shadow: #ececec 0 1px 0px 0 inset;
	-moz-box-shadow: #ececec 0 1px 0px 0 inset;
	box-shadow: #ececec 0 1px 0px 0 inset;
	border-width: 1px !important;
	padding: 0px 17px 0px 17px;
	font-weight: normal;
	line-height: 28px;
	border-left-style: none;
	background-color: rgb(102, 90, 167);
}

.olm-main-text-black .x-btn-inner {
    font-family : "Segoe UI" !important;
    font-size: 12px;    
	color: rgb(0, 0, 0);	
}

.olm-modern-tab .x-tab-bar {
	position: absolute;
	margin: 0 0 0 170px;
}

.olm-modern-tab .x-tab-bar-strip {
	height: 0px !important;
}

.olm-modern-tab .x-tab-bar-strip-default-plain {
	border-style: none;
}

.olm-modern-tab .x-tab-bar-top .x-tab-bar-body-default-plain {
	/*padding: 0 0 0 16px;*/
	
}

.olm-modern-tab .x-tab-bar .x-tab-bar-body {
	height: 38px !important;
	background: white;
	padding-bottom : 2px;
}

.olm-modern-tab .x-tab-bar .x-tab-bar-body .x-box-inner {
	height: 34px !important;
}

	/*Font characteristics specified separately since font-weight is specified explicitly(cross-browser compatibility)*/
/*.olm-modern-tab .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
		height: 30px !important;
	width: 94px !important;
	font-weight: 600;
	font-size: 18px;
	font-family: "Segoe UI" !important;
	color: rgb(50, 150, 50);
	/*
	height: 34px !important;
	background: #E0E0E2;
	border-top-right-radius: 0em;
	border-top-left-radius: 0em;
	padding: 0 2px 0 2px !important;
	border-style: none;
	*/
}*/

.olm-modern-tab .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab button {
	height: 30px !important;
	width: 94px !important;
	/*Font characteristics specified separately since font-weight is specified explicitly(cross-browser compatibility)*/
	font-weight: 600;
	font-size: 18px;
	font-family: "Segoe UI" !important;
	color: rgb(50, 150, 50);
}

.olm-modern-tab .x-tab-default-top button,.olm-modern-tab .x-tab-default-top .x-tab-inner
	{
	height: 18px;
	line-height: 18px;
}

.olm-modern-tab .x-panel-body-default {
	border-style: none;
}

.olm-modern-tab .x-tab-active {
	z-index: 5;
}

.olm-modern-tab .x-tab-active button {
	background: white;
}

.olm-modern-tab .x-tab-top-active {
	background-color: white !important;
}

.olm-modern-tab .x-tab-default-top {
	border-bottom-color: white !important;
}

/* Work aroud to get the tool sprite images. We have to remove this after fixing*/
.x-panel-header-olm-modern-popup .x-tool img {
	overflow: hidden;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: -1px 0px;
	background-image: url('/manh/olm/resources/icons/tool-sprites.gif');
	margin-top: 3px;
}

.x-panel-header-olm-modern-popup .x-tool-over img {
	background-position: -15px 0px;
}

.x-panel-header-olm-modern-popup .x-tool-close img {
	background-position: -15px 0px;
}

.olm-modern .x-form-item {
	display: block;
}
/* Work around to get the grid styling.*/
.olm-modern-grid .x-grid-row .x-grid-cell .x-grid-cell-inner {
	font: normal 12px "Segoe UI";
	color: rgba(0, 0, 0, 0.8);
	height: 30px;
	line-height: 28px;
	padding-top : 2px;
}

.olm-modern-grid .x-grid-row .x-grid-cell {
	border: 1px solid black;
	border-top: none;
}

.olm-modern-grid .x-column-header-sort-ASC .x-column-header-text {
	background-image: url('../icons/sort/sort_asc_hover.png');
}

.olm-modern-grid .x-grid-header-ct {
	background-image: none;
	background-color: white;
	border-bottom-width: 1px !important;
	border-color: black;
	border-style: solid;
	padding: '0px'
}

.olm-modern-grid .x-column-header {
	background-image: none;
	background-color: white;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	border-right: none;
	padding: '0px'
}

.olm-modern-grid .x-grid-cell-first {
  	border-top: none;
}

.olm-modern-grid .x-grid-with-row-lines .x-grid-table-focused-first {
  	border-top: none;
}

.olm-modern-grid .x-grid-table {
	border-collapse: collapse;
}

.olm-modern-grid .x-column-header-sort-DESC .x-column-header-text {
	background-image: url('../icons/sort/sort_desc_hover.png');
}

.olm-modern-grid .x-column-header-trigger {
	display: none;
	background-color: rgb(255, 255, 255);
}

.olm-modern-grid .x-column-header-inner {
	line-height: 22px;
	text-overflow: clip;
}

.olm-modern-grid .x-grid-row-selected .x-grid-cell,.x-grid-row-selected .x-grid-rowwrap-div,.x-grid-row-selected .x-grid-cell-rowbody
	{
	background-color: #888 !important
}

.olm-modern-grid  .x-grid-row-over .x-grid-cell , .x-grid-row-over .x-grid-rowwrap-div {
	background-color: #E0E0E2;
}

.olm-modern-grid .x-column-header-over,.x-column-header-sort-ASC,.x-column-header-sort-DESC
	{
	border-left-color: white;
	border-right-color: white;
	background-image: none;
	background-color: white;
}

.olm-modern-check-box .x-form-checkbox {
	height: 15px;
	width: 15px;
	background-image: url('../icons/checkbox/checkboxes.png');
}

.olm-modern-check-box .x-form-cb-focus {
	background-position: -15px 0px;
}

.olm-modern-check-box-checked .x-form-checkbox {
	background-position: 0px -15px;
}

.olm-modern-check-box-checked .x-form-cb-focus {
	background-position: -15px -15px;
}

.olm-search-trigger-white {
	background-image:
		url('/manh/olm/resources/icons/trigger/search_trigger_white.png')
		!important;
	border-bottom-width: 0;
}

.olm-modern-trigger-white {
	background-image:
		url('/manh/olm/resources/icons/trigger/trigger_white.png') !important;
	border-bottom-width: 0;
}

/* Work around to get the menu styling.*/
.olm-modern-button-menu .x-btn-arrow {
	background-image: none;
}

.olm-modern-button-menu .x-btn .x-btn-center .x-btn-inner {
	text-overflow: ellipsis;
	padding-left: 5px;
}

.olm-button-ellipsis .x-btn-inner {
	text-overflow: ellipsis !important;
}

.olm-modern-button-menu .x-menu-item-active .x-menu-item-link {
	background-image: none;
	background-color: #F37321;
	border-width: 0px;
	border-radius: 0px;
}

.olm-modern-button-menu .x-menu-item-arrow {
	background-image: none;
}

.olm-modern-button-menu .x-menu-item-link {
	padding: 0px;
	line-height : 16px;
	margin : 1px 3px 1px 3px;
	height : 16px;
}

.olm-modern-button-menu .x-menu-body {
	background: white !important;
}
/*Landing page context menu*/
.olm-modern-context-menu .x-menu-item-link {
	padding: 0px 10px 0px 10px;
	margin: 0px;
}

.olm-modern-context-menu .x-menu-item-active .x-menu-item-link {
	background-image: none;
	background-color: #CFCFCF;
	border: none;
}

.olm-modern-context-menu .x-menu-item-link {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

.olm-modern-context-menu .x-menu-item-arrow {
	background-image: none;
}

.olm-modern-context-menu .x-menu-body {
	background: white !important;
	padding: 5px 0px 5px 0px
}

.x-searchcombo {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(153, 188, 232);
	background: white;
}

.x-searchcombo .x-toolbar {
	border-width: 1px 0 0 0;
}

.x-strict .x-ie6 .x-searchcombo-list-ct,.x-strict .x-ie7 .x-searchcombo-list-ct {
	position: relative;
}

.x-searchcombo-item {
	padding: 2px;
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	cursor: default;
	cursor: pointer;
	cursor: hand;
	position: relative;
	/*allow hover in IE on empty items*/
	border-width: 1px;
	border-style: dotted;
	border-color: white;
}

.x-searchcombo-selected {
	background: #cbdaf0;
	border-color: #8eabe4;
}

.x-searchcombo-item-over {
	background: #CFCFCF;
	border-color: #C4C2C2;
}

.x-searchcombo-floating {
	border-top-width: 1;
}

.x-searchcombo-above {
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.x-searchcombo-item-text {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 11px;
	font-weight: normal;
}

.x-searchcombo-item-title {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}

.x-searchcombo-item-text-highlight {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 11px;
	font-weight: bold;
}

/*.x-form-cb-checked .x-form-checkbox,.x-form-cb-checked {
	background-position: 0 -15px;
}*/

.olm-modern-text-invalid-field {
	background-color: rgb(225, 128, 102);
	background-repeat: repeat-x;
	background-position: bottom;
	border-color: #c30;
}

.olm-modern-collapsible-panel .x-panel-header-text-default {
	font-size: 20px;
	font-weight: normal;
	font-family: 'Segoe UI';
	color: #000000
}

.olm-modern-collapsible-panel .x-panel-header-default {
	background-color: #DDDDDD;
	background-image: none;
	border-color: #000000;
	border-width: 1px !important;
}

.olm-modern-collapsible-panel .x-panel-header-default-top {
	-moz-box-shadow: #efeded 0 0px 0px 0 inset;
	-webkit-box-shadow: #efeded 0 0px 0px 0 inset;
	-o-box-shadow: #efeded 0 0px 0px 0 inset;
	box-shadow: #efeded 0 0px 0px 0 inset;
}

.olm-modern-collapsible-panel .x-tool img {
	overflow: hidden;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../icons/collapse/expandCollapse.png');
	margin: 0;
}

.olm-modern-collapsible-panel .x-tool-img,.x-tool-collapse-top {
	background-position: left bottom;
}

.olm-modern-collapsible-panel .x-tool-over .x-tool-expand-top,.x-tool-over .x-tool-collapse-top
	{
	background-position: right bottom;
}

.olm-modern-collapsible-panel .x-tool-expand-bottom,.x-tool-collapse-bottom
	{
	background-position: left top;
}

.olm-modern-collapsible-panel .x-tool-over .x-tool-expand-bottom,.x-tool-over .x-tool-collapse-bottom
	{
	background-position: right top;
}

/*
* Combobox Styling
*/
.x-olm-modern-combo {
	border-width: 1px;
	border-style: solid;
	border-color: #b5b8c8;
	background: white;
}

.x-olm-modern-combo .x-toolbar {
	border-width: 1px 0 0 0;
}

.x-strict .x-ie6 .x-olm-modern-combo-list-ct,.x-strict .x-ie7 .x-olm-modern-combo-list-ct
	{
	position: relative;
}

.x-olm-modern-combo-item {
	padding: 2px;
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	cursor: default;
	cursor: pointer;
	cursor: hand;
	position: relative;
	/*allow hover in IE on empty items*/
	border-width: 1px;
	border-style: dotted;
	border-color: white;
}

.x-olm-modern-combo-selected {
	background: #d3d3d3;
	border-color: #b3abaa;
}

.x-olm-modern-combo-item-over {
	background: #e0e0e0;
	border-color: #bfb8b8;
}

.x-olm-modern-combo-floating {
	border-top-width: 0;
}

.x-olm-modern-combo-above {
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.olm-modern-accordion .x-panel-header-default {
	background-color: #000000;
	background-image: none;
	padding-top: 6px;
}

.olm-modern-accordion .x-panel-header-text-default {
	color: #FFFFFF;
}

.olm-modern-accordion .x-panel-header-text {
	font: bold 12px "Segoe UI" !important;
}

/**
* Date Field styling
*/
.olm-modern-date-trigger {
	background-image: url('../icons/date/date-trigger.gif');
	border-bottom: none;
	width : 16px;
}

.olm-modern-date-picker {
	border-color: #000000;
}

.olm-modern-date-picker .x-datepicker-header {
	background-color: #6f6f6f;
	background-image: none;
}

.olm-modern-date-picker .x-datepicker-next a {
	background-image: url('../icons/date/right-btn.gif');
}

.olm-modern-date-picker .x-datepicker-prev a {
	background-image: url('../icons/date/left-btn.gif');
}

.olm-modern-date-picker table.x-datepicker-inner th {
	background-color: #e9e9e9;
	background-image: none;
	border-bottom: 1px solid #d0d0d0;
	color: #000000;
}

.olm-modern-date-picker .x-datepicker-footer,.x-monthpicker-buttons {
	background-image: none;
	background-color: #e9e9e9;
	border-top: 1px solid #d0d0d0;
}

.olm-modern-date-picker table.x-datepicker-inner a {
	font: normal 11px "Segoe UI"
}

.olm-modern-date-picker table.x-datepicker-inner .x-datepicker-today a {
	border: 1px solid;
	border-color: black;
}

.olm-modern-date-picker table.x-datepicker-inner .x-datepicker-selected a {
	background-color: #F37321;
	border: none;
}

.olm-modern-date-picker table.x-datepicker-inner a:hover,table.x-datepicker-inner .x-datepicker-disabled a:hover
	{
	background-color: #AAAAAA;
}

.olm-modern-date-picker .x-monthpicker-item a.x-monthpicker-selected {
	background-color: #F37321;
	border: none
}

.olm-modern-date-picker .x-monthpicker-months {
	border-right: 1px solid #d0d0d0;
}

.olm-modern-date-picker .x-monthpicker-item {
	font: normal 11px "Segoe UI";
}

.olm-modern-date-picker .x-monthpicker-item a {
	color: #000000;
}

.olm-modern-date-picker .x-monthpicker-item a:hover {
	background-color: #AAAAAA;
}

.olm-modern-date-picker .x-monthpicker-yearnav-next {
	background-image: url('../icons/date/right-btn.gif');
}

.olm-modern-date-picker .x-monthpicker-yearnav-prev {
	background-image: url('../icons/date/left-btn.gif');
}

.olm-modern-date-picker .x-btn-default-small .x-btn-inner {
	font: normal 11px "Segoe UI";
	color: #FFFFFF;
}

.olm-modern-date-picker .x-btn-default-small {
	background-image: none;
	border-radius: 0px;
	border-color: #000000;
	background-color: #6f6f6f;
}

.olm-modern-date-picker .x-btn-default-small-over {
	background-image: none;
	background-color: #333333;
	border-color: #000000;
}

.x-btn-olm-transparent-button-small-focus .x-btn-inner {
	background-color: #F37321 !important;
}

.x-btn-olm-transparent-button-small-notes-focus .x-btn-center {
	background-color: #F37321 !important;
}

.x-btn-olm-toggle-button-small-focus .x-btn-center {
	background-color: #F37321 !important;
}

.x-btn-olm-transparent-small-hold-focus .x-btn-icon{
	background-color: #F37321 !important;
	background-position: -12px 0px;
}

.x-btn-olm-main-text-heading-small-focus .x-btn-icon {
	background-color: #F37321 !important;
}

/*Trigger fild CSS property override for EXT-4.2.2*/
.olm-combo .x-border-box .x-form-trigger {
	width: 17px !important;
}

.olm-combo .x-unselectable {
	width: 17px !important;
}

.olm-combo .x-quirks .prefixie6 .x-field-toolbar .x-form-trigger-input-cell
	{
	height: 18px
}

.olm-combo .x-quirks .prefixie6 .x-form-trigger-input-cell {
	height: 18px
}

.olm-combo .x-form-trigger-over {
	background-position: -17px !important;
}

.olm-combo .x-form-trigger {
	height: 18px !important;
	width: 17px !important;
}
.olm-combo .x-form-trigger-wrap-focus .x-form-trigger {
	background-position: -51px 0 !important;
}
.olm-combo .x-form-trigger-wrap-focus .x-form-trigger-over {
	background-position: -68px !important;
}

.olm-combo .x-form-trigger-click .x-form-trigger-wrap-focus .x-form-trigger-click
	{
	background-position: -34px !important;
}
.olm-combo .x-form-trigger-wrap-focus .x-form-trigger-wrap {
border-color: #3892d3;
}
/*Radio button override css for Ext-4.2.2*/
.olm-radio .x-form-radio {
	width: 13px !important;
	height: 13px !important;
}

.olm-radio .x-form-cb-checked .x-form-radio {
	background-position: 0 -13px !important;
}

.olm-radio .x-form-radio-focus {
	background-position: -13px 0 !important ;
}

.olm-radio .x-form-cb-checked .x-form-radio-focus {
	background-position: -13px -13px !important;
}


.olm-radio .x-form-cb-label {
	font: normal 12px "Segoe UI" !important;
	color: #333333;
	line-height: 15px !important;
}

.olm-cust-txn-header .x-form-cb-label {
	color: #FFFFFF;
}

.olm-appeasement-radio .x-form-cb-label {
	font: normal 12px "Segoe UI" !important;
	color: rgb(0, 0, 0);
	line-height : 15px !important;
	padding-left : 20px !important;
}
/*Display field css over ridding for Ext-4.2.2*/
.olm-displayfield .x-form-display-field-body {
	height: 15px
}

/*Tab panel css over ridding for Ext-4.2.2 */
.olm-modern-tab .x-tab-default-active .x-tab-inner {
	color: rgb(50, 150, 50) !important;
}

.olm-modern-tab .x-tab-default .x-tab-inner {
	font-weight: 600;
	font-size: 18px;
	font-family: "Segoe UI" !important;
	color : #329632;
}

.olm-modern-tab .x-tab-default-top {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 5px 0px 0px 0px;
	border-width: 0;
	background-color: #E0E0E2;
	margin : 0px 3px 0px 3px !important;
	width: 106px;
	height: 34px;
	border-style: none
}
/* Check box CSS overridden for Ext-4.2.2 */
.olm-check .x-form-cb-label {
	margin-top: 6px;
	font: normal 11px "Segoe UI" !important;
	color: rgb(0, 0, 0);
}

.olm-check .x-form-cb-wrap {
	height: 18px;
}
.olm-modern-check-box-font .x-form-cb-label {
	margin-top: 6px;
	font: bold 12px "Segoe UI" !important;
	color: rgb(0, 0, 0);
}

.olm-screen .x-form-item,.x-form-field {
    font: normal 12px "Segoe UI",tahoma,arial,verdana,sans-serif;
	line-height : 15px;
}

.olm-screen .x-form-trigger-wrap .x-form-text {
	border-width : 1px;
}

.olm-screen .x-form-trigger-wrap {
	border : 0px;
}

.olm-combo .x-form-trigger-wrap .x-form-text {
	border-width : 1px;
}

.olm-combo .x-form-trigger-wrap {
	border : 0px;
}

.olm-popup .x-form-item,.x-form-field {
    font: normal 12px "Segoe UI",tahoma,arial,verdana,sans-serif;
}

.olm-combo .x-form-text {
	padding : 0px 3px;
}

.olm-shopping-cart-menu .x-form-item,.x-form-field {
    font: normal 12px "Segoe UI",tahoma,arial,verdana,sans-serif;
}

.olm-modern-context-menu .x-menu-item-text{
	line-height : 16px;
	font : bold 11px "Segoe UI";
	padding-bottom : 1px;
}

.olm-modern-accordion .x-panel-header-body-docked-top {
	height : 15px !important;
}

.olm-modern-empty-field {
	font: italic 12px "Segoe UI" !important;
}

.olm-modern-button-menu .x-menu-item-text {
	font-size : 11px;
	color : #222222;
	line-height : 16px;
}

.olm-modern-button-menu .x-menu-item-active {
	background-color : transparent;
}

.olm-datefield .x-trigger-cell {
	width : 16px !important;
}

.olm-datefield .x-form-trigger-over {
	background-position : -17px 0px;
}

.olm-payment-check .x-form-cb-label {
	margin-top: 7px;
	font: 10px "Segoe UI";
	color: rgba(0, 0, 0, 0.8);
}

.olm-combo-disabled .x-form-trigger {
	opacity: 0.5;
	filter: alpha(opacity=50)
}

.olm-screen .x-btn-disabled span {
	opacity: 0.8;
	filter: alpha(opacity=80)
}

.olm-modern-tab .x-tab-default-disabled .x-tab-inner {
	color : #C3B3B3;
}

.olm-screen .x-border-layout-ct {
	background-color : white;
}

.olm-combo .x-form-trigger-input-cell {
    font: normal 12px "Segoe UI";
}
.olm-no-margin {
	margin: 0px;
}

.olm-displayfield-no-overlap {
	display : block;
}

.olm-gift-checkbox {
	margin-top : 3px;
}