.olm-item-scroll::-webkit-scrollbar {
	width: 10px;
}

/* Track */
/*.olm-item-scroll::-webkit-scrollbar-track {
	border: 0px;
	-webkit-border-radius: 0px;
	background: rgba(230, 230, 230, 0);
	border-radius: 0px;
	-webkit-border-radius: 0px;
}*/

.olm-item-scroll::-webkit-scrollbar-track {
	border: 1px;
	-webkit-border-radius: 1px;
	background: rgba(230, 230, 230, 1);
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0),inset -2px -2px 0 rgba(0, 0, 0, 0);
}

.olm-item-scroll::-webkit-scrollbar-track:hover {
	border: 1px;
	-webkit-border-radius: 1px;
	background: rgba(225, 225, 225, 1);
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.10),inset -2px -2px 0 rgba(0, 0, 0, 0.07);
}

/* Handle */
.olm-item-scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.olm-item-scroll::-webkit-scrollbar-thumb:hover {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.olm-item-scroll::-webkit-scrollbar-thumb:active {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.olm-item-scroll::-webkit-scrollbar-track-piece {
	margin: 0px 0;
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}

.olm-item-scroll::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.4);
}