/*
* All Boxes - begin
*/
.olm-screen .x-form-text {
	height: 18px;
}

.olm-screen .x-border-box .x-form-trigger {
	height: 18px;
}

.olm-screen .x-form-focus, textarea.x-form-focus {
	border-color: #D97EA2;
}

.olm-popup .x-form-text {
	height: 18px;
}

.olm-popup .x-border-box .x-form-trigger {
	height: 18px;
}

.olm-popup .x-form-focus, textarea.x-form-focus {
	order-color: #D97EA2;
}

.olm-tile .x-form-trigger-wrap .x-form-text {
	height : 18px;
}
/*
* All Boxes - end
*/

/*
* DOM-DS template text - begin
*/
/*
.dom-tpl-info {
	text-overflow: ellipsis;
	overflow: hidden;
	/*white-space: nowrap;*/
}
*/

/*
* DOM-DS template text - end
*/
/*
*
*###############################################################################################################
* Data view - not modified by Shanthosh
*
*/
.olm-item-images-view .x-panel-body {
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

.olm-item-images-view .thumb {
	background: #dddddd;
	padding: 3px;
	padding-bottom: 0;
}

.x-quirks .olm-item-images-view .thumb {
	padding-bottom: 3px;
}

.olm-item-images-view .thumb img {
	height: 60px;
	width: 80px;
}

.olm-item-images-view .thumb-wrap {
	float: left;
	margin: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

.olm-item-images-view .thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
	width: 86px; /* for ie to ensure that the text is centered */
}

.olm-item-images-view .x-item-over {
	border: 1px solid #F37321;
	background: rgba(0, 0, 0, 0.1);
	padding: 0px;
}

.olm-item-images-view .x-item-selected {
	border: 3px solid #F37321;
	background: rgba(0, 0, 0, 0.1);
	padding: 0px;
}

.olm-item-images-view .x-item-selected .thumb {
	background: transparent;
}

.olm-item-images-view .loading-indicator {
	font-size: 11px;
	background-image:
		url('../../../ext/resources/themes/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin: 10px;
}

.olm-item-images-view .x-view-selector {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	border: 1px dotted;
	opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity =           50);
	zoom: 1;
	background-color: #c3daf9;
	border-color: #3399bb;
}

.ext-strict .ext-ie .x-tree .x-panel-bwrap {
	position: relative;
	overflow: hidden;
}