
body, html {
    height: 98%;
    margin: 0;
    padding:0;
    background-color: white;
    font-family: Arial;
}

/*wrappers*/
div.main-wrp{
	min-width: 1024px;
}

div.main-wrp-inner{
	min-width:800px;
}

/*basic-elements*/
h1 {
    font-size:1.1em;
	font-weight:400;
	margin:0 0 12px 0;
}

h2 {
    margin:0 0 15px 0;
    font-size:0.9em;
}

h2.pro-features {
    margin:0 0 10px 0;
    font-size:0.95em;
}

a {
    display: block;
    margin: 0 0 10px 0;
    font-size: 0.85em;
    text-decoration: none;
	transition:color 0.2s ease;
}

.right-bordered {
    border-right: 1px solid #999999;
}

.bottom-bordered {
    border-bottom: 1px solid #999999;
}

.video {
     float: left;
     margin-right: 15px;
}

div.clear-float {
    clear: both;
}


/*  Grids  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
}

.col .col-inner{
	padding:16px;
	border-right:1px solid #CCC;
	min-height:800px;
}

.col .col-inner-last { 
	border-right:0px solid #CCC;
}

.col .col-inner-module{
	min-height:960px;
}

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 25%;
}

.span_1_of_3{
	width:30%;
}

.span_1_of_3_wide{
	width:40%;
}

.span_15_of_4 {
	width: 28%;
}

/*titles*/

div.title {
    font-size: 22px;
    font-family: Arial, Georgia, Serif;
    font-weight: bold;
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #89C75F),
		color-stop(0.61, #81BC59)
	);
	background-image: -o-linear-gradient(bottom, #89C75F 0%, #81BC59 61%);
	background-image: -moz-linear-gradient(bottom, #89C75F 0%, #81BC59 61%);
	background-image: -webkit-linear-gradient(bottom, #89C75F 0%, #81BC59 61%);
	background-image: -ms-linear-gradient(bottom, #89C75F 0%, #81BC59 61%);
	background-image: linear-gradient(to bottom, #89C75F 0%, #81BC59 61%);
    color: #FFF;
    padding: 10px 16px;
}

div.big-title-holder{
	border-bottom:1px solid #CCC;
	padding:8px;
}

div.big-title{
	overflow:hidden;
	padding:43px 0px;
	font-size: 28px;
	font-weight:600;
    font-family: Arial, Georgia, Serif;
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #89C75F),
		color-stop(0.61, #81BC59)
	);
	background-image: -o-linear-gradient(bottom, #89C75F 0%, #81BC59 61%);
	background-image: -moz-linear-gradient(bottom, #89C75F 0%, #81BC59 61%);
	background-image: -webkit-linear-gradient(bottom, #89C75F 0%, #81BC59 61%);
	background-image: -ms-linear-gradient(bottom, #89C75F 0%, #81BC59 61%);
	background-image: linear-gradient(to bottom, #89C75F 0%, #81BC59 61%);
    color: white;
}

div.title-pro{
	background:#2698DE;
}

div.big-title .title-inner{
	width:33.3%;
	text-align:center;
	float:left;
}

.title-inner .title-inner-pad{
	padding:0 5%;
}

.title-inner .title-inner-caption{
	font-size:0.60em;
	padding-top:5px;
}

.title-inner .title-inner-caption a{
	display:inline;
	color:#FFF;
	text-decoration:underline;
	font-size:inherit;
}




/*project listings*/
div.new-projects{
	margin-bottom:12px;
}

div.new-projects-margin{
	padding-bottom:18px;
	margin-bottom:18px;
	border-bottom:1px solid #CCC;
}

a.recent-project {
	color:#333333;
	width:100%;
	overflow:hidden;
}

a.recent-project:hover{
	color:#000;
}

a.recent-project div, a.recent-project img  {
    float: left;
}

a.recent-project div{
	margin-left:8px;
	width:80%;
	line-height:120%;
}

/*Statistics*/
.stat-row {
	width:100%;
	padding:4px 0 8px 0;
	font-size:0.85em;
	border-top:1px solid #CCC;
	overflow:hidden;
}

.stat-title{
	float:left;
}

.stat-value{
	float:right;
}

/*features*/

.feature-item{
	margin-bottom:16px;
	overflow:hidden;
}

.feature-image{
	float:left;
	width:111px;
	margin-right:16px;
}

.feature-image-wide{
	float:left;
	width:153px;
	margin-right:16px;
}

.feature-content{
	float:left;
	width:50%;
}

.feature-content h4{
	font-size:0.9em;
	margin-top:0;
	margin-bottom:2px;
	line-height:100%;
}

.feature-content .feature-caption{
	font-size:0.8em;
	color:#0071BD;
	margin-bottom:8px;
}

a.add-link{
	color:#0071bd;
	font-size:0.85em;
}

.feature-content a.text-link{
	font-size:1em;
	color:#000;
}


/* Buttons */

.button-small {
    background:#666666;
    display: block;
	width:60px;
    padding:6px 10px;
	color:#FFF;
	border-radius:1px;
	text-transform:uppercase;
	text-align:center;
	font-size:0.65em;
	font-weight:600;
	transition:background 0.3s ease;
}

.button-small:hover, .action-button:hover {
	background:#2D2D2D;
}


.action-button {
    background:#666666;
    display: block;
	width:140px;
    padding:6px 10px;
	color:#FFF;
	border-radius:1px;
	text-transform:uppercase;
	text-align:center;
	font-size:0.65em;
	font-weight:600;
	transition:background 0.3s ease;
}



.button-text {
    display: block;
    height: 31px;
    width: 166px;
    color: black;
    font-size: 1em;
    line-height: 31px;
    text-align: center;
}

.button:active {
    background-image: url("../images/button-background-reversed.png");
}


/*cta*/
.padded-cta{
	padding-bottom:20px;
	margin-bottom:20px;
	overflow:hidden;
}

.float-cta-right{
	float:left;
}

.float-cta-left{
	float:left;
	width:200px;
}

.float-cta-left h1{
	font-size:1.2em;
	
}




/*some breakpoints*/


@media only screen and (max-width: 1366px) {

	.feature-content {
		width:40%;
	}
	
	.action-button{
		width:80%;
	}
	
	.marketing-img img{
		width:95%;
	}
	
	.marketing-img-big img{
		width:80%;
	}
}



/*retina media queries */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 


}

