/**
 * @class Global_CSS
 *
 * Global CSS variables and mixins of Sencha Touch.
 */
/**
 * @var {string} $prefix
 * The prefix to be applied to all CSS selectors. If this is changed, it must also be changed in your
 * JavaScript application.
 */
/**
 * @var {string} $theme-name
 * The name of the theme. This must match the the output directory of the images.
 * (defaults to 'default')
 */
/**
 * @var {boolean/string} $relative-image-path-for-uis
 * True to use a relative image path for all new UIs. If true, the path will be "../images/".
 * It can also be a string of the path value.
 * It defaults to false, which means it will look for the images in the ExtJS SDK folder.
 */
/**
 * @var {string} $font-family
 * The default font-family to be used throughout the theme.
 */
/**
 * @var {string} $base-gradient
 * The base gradient to be used throughout the theme.
 */
/**
 * @var {color} $base-color
 * The base color to be used throughout the theme.
 */
/**
 * @var {boolean} $include-not-found-images
 * True to include files which are not found when compiling your SASS
 */
/**
 * @var {boolean} $include-ie
 * True to include Internet Explorer specific rules
 */
/**
 * @var {boolean} $include-ff
 * True to include Firefox specific rules
 */
/**
 * @var {boolean} $include-chrome
 * True to include Chrome specific rules
 */
/**
 * @var {boolean} $include-safari
 * True to include Safari specific rules
 */
/**
 * @var {boolean} $include-opera
 * True to include Opera specific rules
 */
/**
 * @var {boolean} $include-webkit
 * True to include Webkit specific rules
 */
/**
 * @var {boolean} $compile-all
 * True to copile all CSS, even if above include rules are false
 */
/**
 * @var {boolean} $scope-reset-css
 * True to scope the reset CSS within the $prefix variable.
 */
/**
 * @var {color} $css-shadow-background-color
 * The base color for CSS shadows
 */
/**
 * @var {color} $include-shadow-images
 * True to include all shadow images.
 */
/**
 * @class Ext.form.field.Base
 */
/**
 * @var {measurement} $form-field-height
 * Height for form fields.
 */
/**
 * @var {measurement} $form-toolbar-field-height
 * Height for form fields in toolbar.
 */
/**
 * @var {measurement} $form-error-icon-width
 * Width for form error icons.
 */
/**
 * @var {measurement} $form-field-padding
 * Padding around form fields.
 */
/**
 * @var {measurement} $form-field-font-size
 * Font size for form fields.
 */
/**
 * @var {font-family} $form-field-font-family
 * Font family for form fields.
 */
/**
 * @var {font-weight} $form-field-font-weight
 * Font weight for form fields.
 */
/**
 * @var {font} $form-field-font
 * Font for form fields.
 */
/**
 * @var {color} $form-field-color
 * Text color for form fields.
 */
/**
 * @var {color} $form-field-empty-color
 * Text color for empty form fields.
 */
/**
 * @var {color} $form-field-border-color
 * Border color for form fields.
 */
/**
 * @var {measurement} $form-field-border-width
 * Border width for form fields.
 */
/**
 * @var {color} $form-field-focus-border-color
 * Border color for focused form fields.
 */
/**
 * @var {color} $form-field-invalid-border-color
 * Border color for invalid form fields.
 */
/**
 * @var {color} $form-field-background-color
 * Background color for form fields.
 */
/**
 * @var {string} $form-field-background-image
 * Background image for form fields.
 */
/**
 * @var {color} $form-field-invalid-background-color
 * Background color for invalid form fields.
 */
/**
 * @var {string} $form-field-invalid-background-image
 * Background image for invalid form fields.
 */
/**
 * @var {background-repeat} $form-field-invalid-background-repeat
 * Background repeat for invalid form fields.
 */
/**
 * @var {background-position} $form-field-invalid-background-position
 * Background position for invalid form fields.
 */
/**
 * @class Ext.form.field.TextArea
 */
/**
 * @class Ext.form.Label
 */
/**
 * @class Ext.form.field.Checkbox
 */
/**
 * @class Ext.form.field.Radio
 */
/* Error messages */
/**
 * @class Ext.form.field.Trigger
 */
/**
 * @class Ext.form.FieldSet
 */
/**
 * @class Ext.slider.Multi
 */

/* line 637, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small {
  border-color: black;
}

/* line 69, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-btn-olm-modern-small {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 0px 15px 0px 15px;
  border-width: 1px;
  border-style: solid;
  background-color: #666666;
}

/* line 102, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nlg .x-btn-olm-modern-small-mc {
  background-color: #666666;
}

/* line 115, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-modern-small {
  padding: 0 !important;
  border-width: 0 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  background-position: 1100000px 1000000px;
}
/* line 147, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-modern-small-tl,
.x-nbr .x-btn-olm-modern-small-bl,
.x-nbr .x-btn-olm-modern-small-tr,
.x-nbr .x-btn-olm-modern-small-br,
.x-nbr .x-btn-olm-modern-small-tc,
.x-nbr .x-btn-olm-modern-small-bc,
.x-nbr .x-btn-olm-modern-small-ml,
.x-nbr .x-btn-olm-modern-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-modern-small-corners.gif');
}
/* line 168, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-modern-small-ml,
.x-nbr .x-btn-olm-modern-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-modern-small-sides.gif');
  background-position: 0 0;
  background-repeat: repeat-y;
}
/* line 200, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-modern-small-mc {
  padding: 1px 16px 1px 16px;
}

/* line 210, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-strict .x-ie7 .x-btn-olm-modern-small-tl,
.x-strict .x-ie7 .x-btn-olm-modern-small-bl {
  position: relative;
  right: 0;
}

/* line 643, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small .x-btn-inner {
  font-size: 13px;
  font-weight: normal;
  font-family: "Segoe UI";
  color: white;
  background-repeat: no-repeat;
  padding: 0 0px 15px 0px 15px;
}

/* line 656, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon button,
.x-btn-olm-modern-small-icon a,
.x-btn-olm-modern-small-icon .x-btn-inner,
.x-btn-olm-modern-small-noicon button,
.x-btn-olm-modern-small-noicon a,
.x-btn-olm-modern-small-noicon .x-btn-inner {
  height: 16px;
  line-height: 16px;
}

/* line 665, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon button,
.x-btn-olm-modern-small-icon a {
  padding: 0;
}
/* line 669, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon .x-btn-inner {
  /* even though there is no text we set a width and padding as buttons shrink-wrap around this element */
  width: 16px;
  padding: 0;
}
/* line 675, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon .x-btn-icon {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 687, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon-text-left button,
.x-btn-olm-modern-small-icon-text-left a {
  height: 16px;
}
/* line 690, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon-text-left .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
}
/* line 696, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon-text-left .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
}
/* line 705, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-modern-small-icon-text-left .x-btn-icon, .x-quirks .x-btn-olm-modern-small-icon-text-left .x-btn-icon {
  height: 16px;
}

/* line 713, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon-text-right button,
.x-btn-olm-modern-small-icon-text-right a {
  height: 16px;
}
/* line 716, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon-text-right .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-right: 20px !important;
}
/* line 722, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon-text-right .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}
/* line 731, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-modern-small-icon-text-right .x-btn-icon, .x-quirks .x-btn-olm-modern-small-icon-text-right .x-btn-icon {
  height: 16px;
}

/* line 738, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon-text-top .x-btn-inner {
  padding-top: 20px;
}
/* line 742, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon-text-top .x-btn-icon {
  width: auto;
  height: 16px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
}
/* line 751, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-modern-small-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-olm-modern-small-icon-text-top .x-btn-icon {
  width: 16px;
}

/* line 758, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon-text-bottom .x-btn-inner {
  padding-bottom: 20px;
}
/* line 762, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 16px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 771, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-modern-small-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-olm-modern-small-icon-text-bottom .x-btn-icon {
  width: 16px;
}

/* line 777, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-over {
  background-image: none;
  background-color: #333333;
}

/* line 801, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-focus {
  background-image: none;
  background-color: #333333;
}

/* line 826, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-menu-active,
.x-btn-olm-modern-small-pressed {
  background-image: none;
  background-color: #191919;
}

/* line 850, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-small-disabled {
  background-image: none;
  background-color: #999999;
}

/* line 898, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-over .x-frame-tl,
.x-nbr .x-btn-olm-modern-small-over .x-frame-bl,
.x-nbr .x-btn-olm-modern-small-over .x-frame-tr,
.x-nbr .x-btn-olm-modern-small-over .x-frame-br,
.x-nbr .x-btn-olm-modern-small-over .x-frame-tc,
.x-nbr .x-btn-olm-modern-small-over .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-small-over-corners.gif');
}
/* line 902, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-over .x-frame-ml,
.x-nbr .x-btn-olm-modern-small-over .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-small-over-sides.gif');
}
/* line 905, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-over .x-frame-mc {
  background-color: #333333;
}
/* line 919, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-focus .x-frame-tl,
.x-nbr .x-btn-olm-modern-small-focus .x-frame-bl,
.x-nbr .x-btn-olm-modern-small-focus .x-frame-tr,
.x-nbr .x-btn-olm-modern-small-focus .x-frame-br,
.x-nbr .x-btn-olm-modern-small-focus .x-frame-tc,
.x-nbr .x-btn-olm-modern-small-focus .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-small-focus-corners.gif');
}
/* line 923, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-focus .x-frame-ml,
.x-nbr .x-btn-olm-modern-small-focus .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-small-focus-sides.gif');
}
/* line 926, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-focus .x-frame-mc {
  background-color: #333333;
}
/* line 941, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-menu-active .x-frame-tl,
.x-nbr .x-btn-olm-modern-small-menu-active .x-frame-bl,
.x-nbr .x-btn-olm-modern-small-menu-active .x-frame-tr,
.x-nbr .x-btn-olm-modern-small-menu-active .x-frame-br,
.x-nbr .x-btn-olm-modern-small-menu-active .x-frame-tc,
.x-nbr .x-btn-olm-modern-small-menu-active .x-frame-bc,
.x-nbr .x-btn-olm-modern-small-pressed .x-frame-tl,
.x-nbr .x-btn-olm-modern-small-pressed .x-frame-bl,
.x-nbr .x-btn-olm-modern-small-pressed .x-frame-tr,
.x-nbr .x-btn-olm-modern-small-pressed .x-frame-br,
.x-nbr .x-btn-olm-modern-small-pressed .x-frame-tc,
.x-nbr .x-btn-olm-modern-small-pressed .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-small-pressed-corners.gif');
}
/* line 945, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-menu-active .x-frame-ml,
.x-nbr .x-btn-olm-modern-small-menu-active .x-frame-mr,
.x-nbr .x-btn-olm-modern-small-pressed .x-frame-ml,
.x-nbr .x-btn-olm-modern-small-pressed .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-small-pressed-sides.gif');
}
/* line 948, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-menu-active .x-frame-mc,
.x-nbr .x-btn-olm-modern-small-pressed .x-frame-mc {
  background-color: #191919;
}
/* line 962, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-disabled .x-frame-tl,
.x-nbr .x-btn-olm-modern-small-disabled .x-frame-bl,
.x-nbr .x-btn-olm-modern-small-disabled .x-frame-tr,
.x-nbr .x-btn-olm-modern-small-disabled .x-frame-br,
.x-nbr .x-btn-olm-modern-small-disabled .x-frame-tc,
.x-nbr .x-btn-olm-modern-small-disabled .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-small-disabled-corners.gif');
}
/* line 966, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-disabled .x-frame-ml,
.x-nbr .x-btn-olm-modern-small-disabled .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-small-disabled-sides.gif');
}
/* line 969, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-small-disabled .x-frame-mc {
  background-color: #999999;
}

/* line 637, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small {
  border-color: rgba(0, 0, 0, 0);
}

/* line 69, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-btn-olm-transparent-small {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 0px 15px 0px 15px;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
}

/* line 102, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nlg .x-btn-olm-transparent-small-mc {
  background-color: rgba(0, 0, 0, 0);
}

/* line 115, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-transparent-small {
  padding: 0 !important;
  border-width: 0 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  background-position: 1100000px 1000000px;
}
/* line 147, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-transparent-small-tl,
.x-nbr .x-btn-olm-transparent-small-bl,
.x-nbr .x-btn-olm-transparent-small-tr,
.x-nbr .x-btn-olm-transparent-small-br,
.x-nbr .x-btn-olm-transparent-small-tc,
.x-nbr .x-btn-olm-transparent-small-bc,
.x-nbr .x-btn-olm-transparent-small-ml,
.x-nbr .x-btn-olm-transparent-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-transparent-small-corners.gif');
}
/* line 168, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-transparent-small-ml,
.x-nbr .x-btn-olm-transparent-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-transparent-small-sides.gif');
  background-position: 0 0;
  background-repeat: repeat-y;
}
/* line 200, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-transparent-small-mc {
  padding: 1px 16px 1px 16px;
}

/* line 210, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-strict .x-ie7 .x-btn-olm-transparent-small-tl,
.x-strict .x-ie7 .x-btn-olm-transparent-small-bl {
  position: relative;
  right: 0;
}

/* line 643, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small .x-btn-inner {
  font-size: 11px;
  font-weight: bold;
  font-family: "Segoe UI";
  color: black;
  background-repeat: no-repeat;
  padding: 0 0px 15px 0px 15px;
}

/* line 656, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon button,
.x-btn-olm-transparent-small-icon a,
.x-btn-olm-transparent-small-icon .x-btn-inner,
.x-btn-olm-transparent-small-noicon button,
.x-btn-olm-transparent-small-noicon a,
.x-btn-olm-transparent-small-noicon .x-btn-inner {
  height: 16px;
  line-height: 16px;
}

/* line 665, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon button, .x-btn-olm-transparent-small-icon a {
  padding: 0;
}
/* line 669, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon .x-btn-inner {
  /* even though there is no text we set a width and padding as buttons shrink-wrap around this element */
  width: 16px;
  padding: 0;
}
/* line 675, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon .x-btn-icon {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 687, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon-text-left button, .x-btn-olm-transparent-small-icon-text-left a {
  height: 16px;
}
/* line 690, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon-text-left .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
}
/* line 696, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon-text-left .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
}
/* line 705, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-transparent-small-icon-text-left .x-btn-icon, .x-quirks .x-btn-olm-transparent-small-icon-text-left .x-btn-icon {
  height: 16px;
}

/* line 713, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon-text-right button, .x-btn-olm-transparent-small-icon-text-right a {
  height: 16px;
}
/* line 716, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon-text-right .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-right: 20px !important;
}
/* line 722, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon-text-right .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}
/* line 731, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-transparent-small-icon-text-right .x-btn-icon, .x-quirks .x-btn-olm-transparent-small-icon-text-right .x-btn-icon {
  height: 16px;
}

/* line 738, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon-text-top .x-btn-inner {
  padding-top: 20px;
}
/* line 742, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon-text-top .x-btn-icon {
  width: auto;
  height: 16px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
}
/* line 751, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-transparent-small-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-olm-transparent-small-icon-text-top .x-btn-icon {
  width: 16px;
}

/* line 758, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon-text-bottom .x-btn-inner {
  padding-bottom: 20px;
}
/* line 762, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 16px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 771, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-transparent-small-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-olm-transparent-small-icon-text-bottom .x-btn-icon {
  width: 16px;
}

/* line 777, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-over {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}
/* line 785, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-over .x-btn-inner {
  font-weight: normal;
}

/* line 801, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-focus {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}
/* line 809, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-focus .x-btn-inner {
  font-weight: normal;
}

/* line 826, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-menu-active,
.x-btn-olm-transparent-small-pressed {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}
/* line 834, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-menu-active .x-btn-inner,
.x-btn-olm-transparent-small-pressed .x-btn-inner {
  font-weight: normal;
}

/* line 850, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-disabled {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}
/* line 858, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-small-disabled .x-btn-inner {
  font-weight: normal;
}

/* line 898, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-over .x-frame-tl,
.x-nbr .x-btn-olm-transparent-small-over .x-frame-bl,
.x-nbr .x-btn-olm-transparent-small-over .x-frame-tr,
.x-nbr .x-btn-olm-transparent-small-over .x-frame-br,
.x-nbr .x-btn-olm-transparent-small-over .x-frame-tc,
.x-nbr .x-btn-olm-transparent-small-over .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-small-over-corners.gif');
}
/* line 902, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-over .x-frame-ml,
.x-nbr .x-btn-olm-transparent-small-over .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-small-over-sides.gif');
}
/* line 905, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-over .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 919, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-focus .x-frame-tl,
.x-nbr .x-btn-olm-transparent-small-focus .x-frame-bl,
.x-nbr .x-btn-olm-transparent-small-focus .x-frame-tr,
.x-nbr .x-btn-olm-transparent-small-focus .x-frame-br,
.x-nbr .x-btn-olm-transparent-small-focus .x-frame-tc,
.x-nbr .x-btn-olm-transparent-small-focus .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-small-focus-corners.gif');
}
/* line 923, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-focus .x-frame-ml,
.x-nbr .x-btn-olm-transparent-small-focus .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-small-focus-sides.gif');
}
/* line 926, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-focus .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 941, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-menu-active .x-frame-tl,
.x-nbr .x-btn-olm-transparent-small-menu-active .x-frame-bl,
.x-nbr .x-btn-olm-transparent-small-menu-active .x-frame-tr,
.x-nbr .x-btn-olm-transparent-small-menu-active .x-frame-br,
.x-nbr .x-btn-olm-transparent-small-menu-active .x-frame-tc,
.x-nbr .x-btn-olm-transparent-small-menu-active .x-frame-bc,
.x-nbr .x-btn-olm-transparent-small-pressed .x-frame-tl,
.x-nbr .x-btn-olm-transparent-small-pressed .x-frame-bl,
.x-nbr .x-btn-olm-transparent-small-pressed .x-frame-tr,
.x-nbr .x-btn-olm-transparent-small-pressed .x-frame-br,
.x-nbr .x-btn-olm-transparent-small-pressed .x-frame-tc,
.x-nbr .x-btn-olm-transparent-small-pressed .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-small-pressed-corners.gif');
}
/* line 945, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-menu-active .x-frame-ml,
.x-nbr .x-btn-olm-transparent-small-menu-active .x-frame-mr,
.x-nbr .x-btn-olm-transparent-small-pressed .x-frame-ml,
.x-nbr .x-btn-olm-transparent-small-pressed .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-small-pressed-sides.gif');
}
/* line 948, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-menu-active .x-frame-mc,
.x-nbr .x-btn-olm-transparent-small-pressed .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 962, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-disabled .x-frame-tl,
.x-nbr .x-btn-olm-transparent-small-disabled .x-frame-bl,
.x-nbr .x-btn-olm-transparent-small-disabled .x-frame-tr,
.x-nbr .x-btn-olm-transparent-small-disabled .x-frame-br,
.x-nbr .x-btn-olm-transparent-small-disabled .x-frame-tc,
.x-nbr .x-btn-olm-transparent-small-disabled .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-small-disabled-corners.gif');
}
/* line 966, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-disabled .x-frame-ml,
.x-nbr .x-btn-olm-transparent-small-disabled .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-small-disabled-sides.gif');
}
/* line 969, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-small-disabled .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}

/* line 637, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small {
  border-color: rgba(0, 0, 0, 0);
}

/* line 69, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-btn-olm-transparent-button-small {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
  border-width: 0px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
}

/* line 102, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nlg .x-btn-olm-transparent-button-small-mc {
  background-color: rgba(0, 0, 0, 0);
}

/* line 115, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-transparent-button-small {
  padding: 0 !important;
  border-width: 0 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  background-position: 1100000px 1000000px;
}
/* line 147, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-transparent-button-small-tl,
.x-nbr .x-btn-olm-transparent-button-small-bl,
.x-nbr .x-btn-olm-transparent-button-small-tr,
.x-nbr .x-btn-olm-transparent-button-small-br,
.x-nbr .x-btn-olm-transparent-button-small-tc,
.x-nbr .x-btn-olm-transparent-button-small-bc,
.x-nbr .x-btn-olm-transparent-button-small-ml,
.x-nbr .x-btn-olm-transparent-button-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-transparent-button-small-corners.gif');
}
/* line 168, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-transparent-button-small-ml,
.x-nbr .x-btn-olm-transparent-button-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-transparent-button-small-sides.gif');
  background-position: 0 0;
  background-repeat: repeat-y;
}
/* line 200, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-transparent-button-small-mc {
  padding: 0px 0px 0px 0px;
}

/* line 210, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-strict .x-ie7 .x-btn-olm-transparent-button-small-tl,
.x-strict .x-ie7 .x-btn-olm-transparent-button-small-bl {
  position: relative;
  right: 0;
}

/* line 643, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small .x-btn-inner {
  font-size: 12px;
  font-weight: normal;
  font-family: "Segoe UI";
  color: black;
  background-repeat: no-repeat;
  padding: 0 0px 0px 0px 0px;
}

/* line 656, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon button,
.x-btn-olm-transparent-button-small-icon a,
.x-btn-olm-transparent-button-small-icon .x-btn-inner,
.x-btn-olm-transparent-button-small-noicon button,
.x-btn-olm-transparent-button-small-noicon a,
.x-btn-olm-transparent-button-small-noicon .x-btn-inner {
  height: 16px;
  line-height: 16px;
}

/* line 665, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon button, .x-btn-olm-transparent-button-small-icon a {
  padding: 0;
}
/* line 669, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon .x-btn-inner {
  /* even though there is no text we set a width and padding as buttons shrink-wrap around this element */
  width: 16px;
  padding: 0;
}
/* line 675, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon .x-btn-icon {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 687, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon-text-left button, .x-btn-olm-transparent-button-small-icon-text-left a {
  height: 16px;
}
/* line 690, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon-text-left .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
}
/* line 696, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon-text-left .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
}
/* line 705, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-transparent-button-small-icon-text-left .x-btn-icon, .x-quirks .x-btn-olm-transparent-button-small-icon-text-left .x-btn-icon {
  height: 16px;
}

/* line 713, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon-text-right button, .x-btn-olm-transparent-button-small-icon-text-right a {
  height: 16px;
}
/* line 716, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon-text-right .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-right: 20px !important;
}
/* line 722, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon-text-right .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}
/* line 731, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-transparent-button-small-icon-text-right .x-btn-icon, .x-quirks .x-btn-olm-transparent-button-small-icon-text-right .x-btn-icon {
  height: 16px;
}

/* line 738, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon-text-top .x-btn-inner {
  padding-top: 20px;
}
/* line 742, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon-text-top .x-btn-icon {
  width: auto;
  height: 16px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
}
/* line 751, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-transparent-button-small-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-olm-transparent-button-small-icon-text-top .x-btn-icon {
  width: 16px;
}

/* line 758, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon-text-bottom .x-btn-inner {
  padding-bottom: 20px;
}
/* line 762, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 16px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 771, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-transparent-button-small-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-olm-transparent-button-small-icon-text-bottom .x-btn-icon {
  width: 16px;
}

/* line 777, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-over {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 801, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-focus {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 826, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-menu-active,
.x-btn-olm-transparent-button-small-pressed {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 850, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-transparent-button-small-disabled {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 898, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-over .x-frame-tl,
.x-nbr .x-btn-olm-transparent-button-small-over .x-frame-bl,
.x-nbr .x-btn-olm-transparent-button-small-over .x-frame-tr,
.x-nbr .x-btn-olm-transparent-button-small-over .x-frame-br,
.x-nbr .x-btn-olm-transparent-button-small-over .x-frame-tc,
.x-nbr .x-btn-olm-transparent-button-small-over .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-button-small-over-corners.gif');
}
/* line 902, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-over .x-frame-ml,
.x-nbr .x-btn-olm-transparent-button-small-over .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-button-small-over-sides.gif');
}
/* line 905, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-over .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 919, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-focus .x-frame-tl,
.x-nbr .x-btn-olm-transparent-button-small-focus .x-frame-bl,
.x-nbr .x-btn-olm-transparent-button-small-focus .x-frame-tr,
.x-nbr .x-btn-olm-transparent-button-small-focus .x-frame-br,
.x-nbr .x-btn-olm-transparent-button-small-focus .x-frame-tc,
.x-nbr .x-btn-olm-transparent-button-small-focus .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-button-small-focus-corners.gif');
}
/* line 923, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-focus .x-frame-ml,
.x-nbr .x-btn-olm-transparent-button-small-focus .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-button-small-focus-sides.gif');
}
/* line 926, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-focus .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 941, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-menu-active .x-frame-tl,
.x-nbr .x-btn-olm-transparent-button-small-menu-active .x-frame-bl,
.x-nbr .x-btn-olm-transparent-button-small-menu-active .x-frame-tr,
.x-nbr .x-btn-olm-transparent-button-small-menu-active .x-frame-br,
.x-nbr .x-btn-olm-transparent-button-small-menu-active .x-frame-tc,
.x-nbr .x-btn-olm-transparent-button-small-menu-active .x-frame-bc,
.x-nbr .x-btn-olm-transparent-button-small-pressed .x-frame-tl,
.x-nbr .x-btn-olm-transparent-button-small-pressed .x-frame-bl,
.x-nbr .x-btn-olm-transparent-button-small-pressed .x-frame-tr,
.x-nbr .x-btn-olm-transparent-button-small-pressed .x-frame-br,
.x-nbr .x-btn-olm-transparent-button-small-pressed .x-frame-tc,
.x-nbr .x-btn-olm-transparent-button-small-pressed .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-button-small-pressed-corners.gif');
}
/* line 945, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-menu-active .x-frame-ml,
.x-nbr .x-btn-olm-transparent-button-small-menu-active .x-frame-mr,
.x-nbr .x-btn-olm-transparent-button-small-pressed .x-frame-ml,
.x-nbr .x-btn-olm-transparent-button-small-pressed .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-button-small-pressed-sides.gif');
}
/* line 948, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-menu-active .x-frame-mc,
.x-nbr .x-btn-olm-transparent-button-small-pressed .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 962, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-disabled .x-frame-tl,
.x-nbr .x-btn-olm-transparent-button-small-disabled .x-frame-bl,
.x-nbr .x-btn-olm-transparent-button-small-disabled .x-frame-tr,
.x-nbr .x-btn-olm-transparent-button-small-disabled .x-frame-br,
.x-nbr .x-btn-olm-transparent-button-small-disabled .x-frame-tc,
.x-nbr .x-btn-olm-transparent-button-small-disabled .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-button-small-disabled-corners.gif');
}
/* line 966, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-disabled .x-frame-ml,
.x-nbr .x-btn-olm-transparent-button-small-disabled .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-transparent-button-small-disabled-sides.gif');
}
/* line 969, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-transparent-button-small-disabled .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}

/* line 637, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small {
  border-color: rgba(0, 0, 0, 0);
}

/* line 69, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-btn-olm-toggle-button-small {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 0px 15px 0px 15px;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
}

/* line 102, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nlg .x-btn-olm-toggle-button-small-mc {
  background-color: rgba(0, 0, 0, 0);
}

/* line 115, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-toggle-button-small {
  padding: 0 !important;
  border-width: 0 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  background-position: 1100000px 1000000px;
}
/* line 147, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-toggle-button-small-tl,
.x-nbr .x-btn-olm-toggle-button-small-bl,
.x-nbr .x-btn-olm-toggle-button-small-tr,
.x-nbr .x-btn-olm-toggle-button-small-br,
.x-nbr .x-btn-olm-toggle-button-small-tc,
.x-nbr .x-btn-olm-toggle-button-small-bc,
.x-nbr .x-btn-olm-toggle-button-small-ml,
.x-nbr .x-btn-olm-toggle-button-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-toggle-button-small-corners.gif');
}
/* line 168, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-toggle-button-small-ml,
.x-nbr .x-btn-olm-toggle-button-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-toggle-button-small-sides.gif');
  background-position: 0 0;
  background-repeat: repeat-y;
}
/* line 200, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-toggle-button-small-mc {
  padding: 1px 16px 1px 16px;
}

/* line 210, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-strict .x-ie7 .x-btn-olm-toggle-button-small-tl,
.x-strict .x-ie7 .x-btn-olm-toggle-button-small-bl {
  position: relative;
  right: 0;
}

/* line 643, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: "Segoe UI";
  color: black;
  background-repeat: no-repeat;
  padding: 0 0px 15px 0px 15px;
}

/* line 656, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon button,
.x-btn-olm-toggle-button-small-icon a,
.x-btn-olm-toggle-button-small-icon .x-btn-inner,
.x-btn-olm-toggle-button-small-noicon button,
.x-btn-olm-toggle-button-small-noicon a,
.x-btn-olm-toggle-button-small-noicon .x-btn-inner {
  height: 16px;
  line-height: 16px;
}

/* line 665, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon button, .x-btn-olm-toggle-button-small-icon a {
  padding: 0;
}
/* line 669, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon .x-btn-inner {
  /* even though there is no text we set a width and padding as buttons shrink-wrap around this element */
  width: 16px;
  padding: 0;
}
/* line 675, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon .x-btn-icon {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 687, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon-text-left button, .x-btn-olm-toggle-button-small-icon-text-left a {
  height: 16px;
}
/* line 690, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon-text-left .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
}
/* line 696, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon-text-left .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
}
/* line 705, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-toggle-button-small-icon-text-left .x-btn-icon, .x-quirks .x-btn-olm-toggle-button-small-icon-text-left .x-btn-icon {
  height: 16px;
}

/* line 713, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon-text-right button, .x-btn-olm-toggle-button-small-icon-text-right a {
  height: 16px;
}
/* line 716, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon-text-right .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-right: 20px !important;
}
/* line 722, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon-text-right .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}
/* line 731, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-toggle-button-small-icon-text-right .x-btn-icon, .x-quirks .x-btn-olm-toggle-button-small-icon-text-right .x-btn-icon {
  height: 16px;
}

/* line 738, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon-text-top .x-btn-inner {
  padding-top: 20px;
}
/* line 742, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon-text-top .x-btn-icon {
  width: auto;
  height: 16px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
}
/* line 751, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-toggle-button-small-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-olm-toggle-button-small-icon-text-top .x-btn-icon {
  width: 16px;
}

/* line 758, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon-text-bottom .x-btn-inner {
  padding-bottom: 20px;
}
/* line 762, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 16px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 771, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-toggle-button-small-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-olm-toggle-button-small-icon-text-bottom .x-btn-icon {
  width: 16px;
}

/* line 777, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-over {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 801, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-focus {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 826, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-menu-active,
.x-btn-olm-toggle-button-small-pressed {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 850, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-toggle-button-small-disabled {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 898, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-over .x-frame-tl,
.x-nbr .x-btn-olm-toggle-button-small-over .x-frame-bl,
.x-nbr .x-btn-olm-toggle-button-small-over .x-frame-tr,
.x-nbr .x-btn-olm-toggle-button-small-over .x-frame-br,
.x-nbr .x-btn-olm-toggle-button-small-over .x-frame-tc,
.x-nbr .x-btn-olm-toggle-button-small-over .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-toggle-button-small-over-corners.gif');
}
/* line 902, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-over .x-frame-ml,
.x-nbr .x-btn-olm-toggle-button-small-over .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-toggle-button-small-over-sides.gif');
}
/* line 905, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-over .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 919, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-focus .x-frame-tl,
.x-nbr .x-btn-olm-toggle-button-small-focus .x-frame-bl,
.x-nbr .x-btn-olm-toggle-button-small-focus .x-frame-tr,
.x-nbr .x-btn-olm-toggle-button-small-focus .x-frame-br,
.x-nbr .x-btn-olm-toggle-button-small-focus .x-frame-tc,
.x-nbr .x-btn-olm-toggle-button-small-focus .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-toggle-button-small-focus-corners.gif');
}
/* line 923, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-focus .x-frame-ml,
.x-nbr .x-btn-olm-toggle-button-small-focus .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-toggle-button-small-focus-sides.gif');
}
/* line 926, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-focus .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 941, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-menu-active .x-frame-tl,
.x-nbr .x-btn-olm-toggle-button-small-menu-active .x-frame-bl,
.x-nbr .x-btn-olm-toggle-button-small-menu-active .x-frame-tr,
.x-nbr .x-btn-olm-toggle-button-small-menu-active .x-frame-br,
.x-nbr .x-btn-olm-toggle-button-small-menu-active .x-frame-tc,
.x-nbr .x-btn-olm-toggle-button-small-menu-active .x-frame-bc,
.x-nbr .x-btn-olm-toggle-button-small-pressed .x-frame-tl,
.x-nbr .x-btn-olm-toggle-button-small-pressed .x-frame-bl,
.x-nbr .x-btn-olm-toggle-button-small-pressed .x-frame-tr,
.x-nbr .x-btn-olm-toggle-button-small-pressed .x-frame-br,
.x-nbr .x-btn-olm-toggle-button-small-pressed .x-frame-tc,
.x-nbr .x-btn-olm-toggle-button-small-pressed .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-toggle-button-small-pressed-corners.gif');
}
/* line 945, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-menu-active .x-frame-ml,
.x-nbr .x-btn-olm-toggle-button-small-menu-active .x-frame-mr,
.x-nbr .x-btn-olm-toggle-button-small-pressed .x-frame-ml,
.x-nbr .x-btn-olm-toggle-button-small-pressed .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-toggle-button-small-pressed-sides.gif');
}
/* line 948, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-menu-active .x-frame-mc,
.x-nbr .x-btn-olm-toggle-button-small-pressed .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 962, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-disabled .x-frame-tl,
.x-nbr .x-btn-olm-toggle-button-small-disabled .x-frame-bl,
.x-nbr .x-btn-olm-toggle-button-small-disabled .x-frame-tr,
.x-nbr .x-btn-olm-toggle-button-small-disabled .x-frame-br,
.x-nbr .x-btn-olm-toggle-button-small-disabled .x-frame-tc,
.x-nbr .x-btn-olm-toggle-button-small-disabled .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-toggle-button-small-disabled-corners.gif');
}
/* line 966, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-disabled .x-frame-ml,
.x-nbr .x-btn-olm-toggle-button-small-disabled .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-toggle-button-small-disabled-sides.gif');
}
/* line 969, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-toggle-button-small-disabled .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}

/* line 637, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small {
  border-color: white;
}

/* line 69, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-btn-olm-modern-button-menu-small {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
  border-width: 0px;
  border-style: solid;
  background-color: white;
}

/* line 102, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nlg .x-btn-olm-modern-button-menu-small-mc {
  background-color: white;
}

/* line 115, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-modern-button-menu-small {
  padding: 0 !important;
  border-width: 0 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  background-position: 1100000px 1000000px;
}
/* line 147, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-tl,
.x-nbr .x-btn-olm-modern-button-menu-small-bl,
.x-nbr .x-btn-olm-modern-button-menu-small-tr,
.x-nbr .x-btn-olm-modern-button-menu-small-br,
.x-nbr .x-btn-olm-modern-button-menu-small-tc,
.x-nbr .x-btn-olm-modern-button-menu-small-bc,
.x-nbr .x-btn-olm-modern-button-menu-small-ml,
.x-nbr .x-btn-olm-modern-button-menu-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-modern-button-menu-small-corners.gif');
}
/* line 168, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-ml,
.x-nbr .x-btn-olm-modern-button-menu-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-modern-button-menu-small-sides.gif');
  background-position: 0 0;
  background-repeat: repeat-y;
}
/* line 200, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-mc {
  padding: 0px 0px 0px 0px;
}

/* line 210, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-strict .x-ie7 .x-btn-olm-modern-button-menu-small-tl,
.x-strict .x-ie7 .x-btn-olm-modern-button-menu-small-bl {
  position: relative;
  right: 0;
}

/* line 643, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small .x-btn-inner {
  font-size: 13px;
  font-weight: bold;
  font-family: "Segoe UI";
  color: black;
  background-repeat: no-repeat;
  padding: 0 0px 0px 0px 0px;
}

/* line 656, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon button,
.x-btn-olm-modern-button-menu-small-icon a,
.x-btn-olm-modern-button-menu-small-icon .x-btn-inner,
.x-btn-olm-modern-button-menu-small-noicon button,
.x-btn-olm-modern-button-menu-small-noicon a,
.x-btn-olm-modern-button-menu-small-noicon .x-btn-inner {
  height: 16px;
  line-height: 16px;
}

/* line 665, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon button, .x-btn-olm-modern-button-menu-small-icon a {
  padding: 0;
}
/* line 669, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon .x-btn-inner {
  /* even though there is no text we set a width and padding as buttons shrink-wrap around this element */
  width: 16px;
  padding: 0;
}
/* line 675, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon .x-btn-icon {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 687, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon-text-left button, .x-btn-olm-modern-button-menu-small-icon-text-left a {
  height: 16px;
}
/* line 690, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon-text-left .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
}
/* line 696, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon-text-left .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
}
/* line 705, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-modern-button-menu-small-icon-text-left .x-btn-icon, .x-quirks .x-btn-olm-modern-button-menu-small-icon-text-left .x-btn-icon {
  height: 16px;
}

/* line 713, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon-text-right button, .x-btn-olm-modern-button-menu-small-icon-text-right a {
  height: 16px;
}
/* line 716, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon-text-right .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-right: 20px !important;
}
/* line 722, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon-text-right .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}
/* line 731, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-modern-button-menu-small-icon-text-right .x-btn-icon, .x-quirks .x-btn-olm-modern-button-menu-small-icon-text-right .x-btn-icon {
  height: 16px;
}

/* line 738, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon-text-top .x-btn-inner {
  padding-top: 20px;
}
/* line 742, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon-text-top .x-btn-icon {
  width: auto;
  height: 16px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
}
/* line 751, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-modern-button-menu-small-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-olm-modern-button-menu-small-icon-text-top .x-btn-icon {
  width: 16px;
}

/* line 758, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon-text-bottom .x-btn-inner {
  padding-bottom: 20px;
}
/* line 762, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 16px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 771, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-modern-button-menu-small-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-olm-modern-button-menu-small-icon-text-bottom .x-btn-icon {
  width: 16px;
}

/* line 777, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-over {
  background-image: none;
  background-color: white;
}

/* line 801, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-focus {
  background-image: none;
  background-color: white;
}

/* line 826, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-menu-active,
.x-btn-olm-modern-button-menu-small-pressed {
  background-image: none;
  background-color: white;
}

/* line 850, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-modern-button-menu-small-disabled {
  background-image: none;
  background-color: white;
}

/* line 898, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-over .x-frame-tl,
.x-nbr .x-btn-olm-modern-button-menu-small-over .x-frame-bl,
.x-nbr .x-btn-olm-modern-button-menu-small-over .x-frame-tr,
.x-nbr .x-btn-olm-modern-button-menu-small-over .x-frame-br,
.x-nbr .x-btn-olm-modern-button-menu-small-over .x-frame-tc,
.x-nbr .x-btn-olm-modern-button-menu-small-over .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-button-menu-small-over-corners.gif');
}
/* line 902, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-over .x-frame-ml,
.x-nbr .x-btn-olm-modern-button-menu-small-over .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-button-menu-small-over-sides.gif');
}
/* line 905, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-over .x-frame-mc {
  background-color: white;
}
/* line 919, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-focus .x-frame-tl,
.x-nbr .x-btn-olm-modern-button-menu-small-focus .x-frame-bl,
.x-nbr .x-btn-olm-modern-button-menu-small-focus .x-frame-tr,
.x-nbr .x-btn-olm-modern-button-menu-small-focus .x-frame-br,
.x-nbr .x-btn-olm-modern-button-menu-small-focus .x-frame-tc,
.x-nbr .x-btn-olm-modern-button-menu-small-focus .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-button-menu-small-focus-corners.gif');
}
/* line 923, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-focus .x-frame-ml,
.x-nbr .x-btn-olm-modern-button-menu-small-focus .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-button-menu-small-focus-sides.gif');
}
/* line 926, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-focus .x-frame-mc {
  background-color: white;
}
/* line 941, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-menu-active .x-frame-tl,
.x-nbr .x-btn-olm-modern-button-menu-small-menu-active .x-frame-bl,
.x-nbr .x-btn-olm-modern-button-menu-small-menu-active .x-frame-tr,
.x-nbr .x-btn-olm-modern-button-menu-small-menu-active .x-frame-br,
.x-nbr .x-btn-olm-modern-button-menu-small-menu-active .x-frame-tc,
.x-nbr .x-btn-olm-modern-button-menu-small-menu-active .x-frame-bc,
.x-nbr .x-btn-olm-modern-button-menu-small-pressed .x-frame-tl,
.x-nbr .x-btn-olm-modern-button-menu-small-pressed .x-frame-bl,
.x-nbr .x-btn-olm-modern-button-menu-small-pressed .x-frame-tr,
.x-nbr .x-btn-olm-modern-button-menu-small-pressed .x-frame-br,
.x-nbr .x-btn-olm-modern-button-menu-small-pressed .x-frame-tc,
.x-nbr .x-btn-olm-modern-button-menu-small-pressed .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-button-menu-small-pressed-corners.gif');
}
/* line 945, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-menu-active .x-frame-ml,
.x-nbr .x-btn-olm-modern-button-menu-small-menu-active .x-frame-mr,
.x-nbr .x-btn-olm-modern-button-menu-small-pressed .x-frame-ml,
.x-nbr .x-btn-olm-modern-button-menu-small-pressed .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-button-menu-small-pressed-sides.gif');
}
/* line 948, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-menu-active .x-frame-mc,
.x-nbr .x-btn-olm-modern-button-menu-small-pressed .x-frame-mc {
  background-color: white;
}
/* line 962, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-disabled .x-frame-tl,
.x-nbr .x-btn-olm-modern-button-menu-small-disabled .x-frame-bl,
.x-nbr .x-btn-olm-modern-button-menu-small-disabled .x-frame-tr,
.x-nbr .x-btn-olm-modern-button-menu-small-disabled .x-frame-br,
.x-nbr .x-btn-olm-modern-button-menu-small-disabled .x-frame-tc,
.x-nbr .x-btn-olm-modern-button-menu-small-disabled .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-button-menu-small-disabled-corners.gif');
}
/* line 966, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-disabled .x-frame-ml,
.x-nbr .x-btn-olm-modern-button-menu-small-disabled .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-modern-button-menu-small-disabled-sides.gif');
}
/* line 969, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-modern-button-menu-small-disabled .x-frame-mc {
  background-color: white;
}

/* line 637, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small {
  border-color: rgba(0, 0, 0, 0);
}

/* line 69, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-btn-olm-main-text-heading-small {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
  border-width: 0px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
}

/* line 102, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nlg .x-btn-olm-main-text-heading-small-mc {
  background-color: rgba(0, 0, 0, 0);
}

/* line 115, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-main-text-heading-small {
  padding: 0 !important;
  border-width: 0 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  background-position: 1100000px 1000000px;
}
/* line 147, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-main-text-heading-small-tl,
.x-nbr .x-btn-olm-main-text-heading-small-bl,
.x-nbr .x-btn-olm-main-text-heading-small-tr,
.x-nbr .x-btn-olm-main-text-heading-small-br,
.x-nbr .x-btn-olm-main-text-heading-small-tc,
.x-nbr .x-btn-olm-main-text-heading-small-bc,
.x-nbr .x-btn-olm-main-text-heading-small-ml,
.x-nbr .x-btn-olm-main-text-heading-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-main-text-heading-small-corners.gif');
}
/* line 168, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-main-text-heading-small-ml,
.x-nbr .x-btn-olm-main-text-heading-small-mr {
  zoom: 1;
  background-image: url('../images/default/btn/btn-olm-main-text-heading-small-sides.gif');
  background-position: 0 0;
  background-repeat: repeat-y;
}
/* line 200, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-nbr .x-btn-olm-main-text-heading-small-mc {
  padding: 0px 0px 0px 0px;
}

/* line 210, ../../../../ext/resources/themes/stylesheets/ext4/default/mixins/_frame.scss */
.x-strict .x-ie7 .x-btn-olm-main-text-heading-small-tl,
.x-strict .x-ie7 .x-btn-olm-main-text-heading-small-bl {
  position: relative;
  right: 0;
}

/* line 643, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small .x-btn-inner {
  font-size: 12px;
  font-weight: bold;
  font-family: "Segoe UI";
  color: black;
  background-repeat: no-repeat;
  padding: 0 0px 0px 0px 0px;
}

/* line 656, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon button,
.x-btn-olm-main-text-heading-small-icon a,
.x-btn-olm-main-text-heading-small-icon .x-btn-inner,
.x-btn-olm-main-text-heading-small-noicon button,
.x-btn-olm-main-text-heading-small-noicon a,
.x-btn-olm-main-text-heading-small-noicon .x-btn-inner {
  height: 16px;
  line-height: 16px;
}

/* line 665, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon button, .x-btn-olm-main-text-heading-small-icon a {
  padding: 0;
}
/* line 669, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon .x-btn-inner {
  /* even though there is no text we set a width and padding as buttons shrink-wrap around this element */
  width: 16px;
  padding: 0;
}
/* line 675, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon .x-btn-icon {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 687, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon-text-left button, .x-btn-olm-main-text-heading-small-icon-text-left a {
  height: 16px;
}
/* line 690, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon-text-left .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
}
/* line 696, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon-text-left .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
}
/* line 705, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-main-text-heading-small-icon-text-left .x-btn-icon, .x-quirks .x-btn-olm-main-text-heading-small-icon-text-left .x-btn-icon {
  height: 16px;
}

/* line 713, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon-text-right button, .x-btn-olm-main-text-heading-small-icon-text-right a {
  height: 16px;
}
/* line 716, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon-text-right .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-right: 20px !important;
}
/* line 722, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon-text-right .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}
/* line 731, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-main-text-heading-small-icon-text-right .x-btn-icon, .x-quirks .x-btn-olm-main-text-heading-small-icon-text-right .x-btn-icon {
  height: 16px;
}

/* line 738, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon-text-top .x-btn-inner {
  padding-top: 20px;
}
/* line 742, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon-text-top .x-btn-icon {
  width: auto;
  height: 16px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
}
/* line 751, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-main-text-heading-small-icon-text-top .x-btn-icon, .x-quirks .x-ie .x-btn-olm-main-text-heading-small-icon-text-top .x-btn-icon {
  width: 16px;
}

/* line 758, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon-text-bottom .x-btn-inner {
  padding-bottom: 20px;
}
/* line 762, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 16px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 771, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-ie6 .x-btn-olm-main-text-heading-small-icon-text-bottom .x-btn-icon, .x-quirks .x-ie .x-btn-olm-main-text-heading-small-icon-text-bottom .x-btn-icon {
  width: 16px;
}

/* line 777, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-over {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 801, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-focus {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 826, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-menu-active,
.x-btn-olm-main-text-heading-small-pressed {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 850, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-btn-olm-main-text-heading-small-disabled {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

/* line 898, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-over .x-frame-tl,
.x-nbr .x-btn-olm-main-text-heading-small-over .x-frame-bl,
.x-nbr .x-btn-olm-main-text-heading-small-over .x-frame-tr,
.x-nbr .x-btn-olm-main-text-heading-small-over .x-frame-br,
.x-nbr .x-btn-olm-main-text-heading-small-over .x-frame-tc,
.x-nbr .x-btn-olm-main-text-heading-small-over .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-main-text-heading-small-over-corners.gif');
}
/* line 902, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-over .x-frame-ml,
.x-nbr .x-btn-olm-main-text-heading-small-over .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-main-text-heading-small-over-sides.gif');
}
/* line 905, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-over .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 919, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-focus .x-frame-tl,
.x-nbr .x-btn-olm-main-text-heading-small-focus .x-frame-bl,
.x-nbr .x-btn-olm-main-text-heading-small-focus .x-frame-tr,
.x-nbr .x-btn-olm-main-text-heading-small-focus .x-frame-br,
.x-nbr .x-btn-olm-main-text-heading-small-focus .x-frame-tc,
.x-nbr .x-btn-olm-main-text-heading-small-focus .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-main-text-heading-small-focus-corners.gif');
}
/* line 923, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-focus .x-frame-ml,
.x-nbr .x-btn-olm-main-text-heading-small-focus .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-main-text-heading-small-focus-sides.gif');
}
/* line 926, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-focus .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 941, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-menu-active .x-frame-tl,
.x-nbr .x-btn-olm-main-text-heading-small-menu-active .x-frame-bl,
.x-nbr .x-btn-olm-main-text-heading-small-menu-active .x-frame-tr,
.x-nbr .x-btn-olm-main-text-heading-small-menu-active .x-frame-br,
.x-nbr .x-btn-olm-main-text-heading-small-menu-active .x-frame-tc,
.x-nbr .x-btn-olm-main-text-heading-small-menu-active .x-frame-bc,
.x-nbr .x-btn-olm-main-text-heading-small-pressed .x-frame-tl,
.x-nbr .x-btn-olm-main-text-heading-small-pressed .x-frame-bl,
.x-nbr .x-btn-olm-main-text-heading-small-pressed .x-frame-tr,
.x-nbr .x-btn-olm-main-text-heading-small-pressed .x-frame-br,
.x-nbr .x-btn-olm-main-text-heading-small-pressed .x-frame-tc,
.x-nbr .x-btn-olm-main-text-heading-small-pressed .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-main-text-heading-small-pressed-corners.gif');
}
/* line 945, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-menu-active .x-frame-ml,
.x-nbr .x-btn-olm-main-text-heading-small-menu-active .x-frame-mr,
.x-nbr .x-btn-olm-main-text-heading-small-pressed .x-frame-ml,
.x-nbr .x-btn-olm-main-text-heading-small-pressed .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-main-text-heading-small-pressed-sides.gif');
}
/* line 948, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-menu-active .x-frame-mc,
.x-nbr .x-btn-olm-main-text-heading-small-pressed .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}
/* line 962, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-disabled .x-frame-tl,
.x-nbr .x-btn-olm-main-text-heading-small-disabled .x-frame-bl,
.x-nbr .x-btn-olm-main-text-heading-small-disabled .x-frame-tr,
.x-nbr .x-btn-olm-main-text-heading-small-disabled .x-frame-br,
.x-nbr .x-btn-olm-main-text-heading-small-disabled .x-frame-tc,
.x-nbr .x-btn-olm-main-text-heading-small-disabled .x-frame-bc {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-main-text-heading-small-disabled-corners.gif');
}
/* line 966, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-disabled .x-frame-ml,
.x-nbr .x-btn-olm-main-text-heading-small-disabled .x-frame-mr {
  background-image: url('../../../../ext/resources/themes/images/default/btn/btn-olm-main-text-heading-small-disabled-sides.gif');
}
/* line 969, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_button.scss */
.x-nbr .x-btn-olm-main-text-heading-small-disabled .x-frame-mc {
  background-color: rgba(0, 0, 0, 0);
}


/* line 264, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-olm-modern-popup {
  border-color: #414141;
}

/* line 269, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-popup {
  font-size: 12px;
  border-color: #414141;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #ebebec;
  -webkit-box-shadow: white 0 1px 0px 0 inset;
  -moz-box-shadow: white 0 1px 0px 0 inset;
  box-shadow: white 0 1px 0px 0 inset;
}

/* line 354, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-text-olm-modern-popup {
  color: #aba7a7;
  font-size: 12px;
  font-weight: bold;
  font-family: tahoma, arial, verdana, sans-serif;
  line-height: 15px;
}

/* line 364, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-body-olm-modern-popup {
  background: #ebebec;
  border-color: #414141;
  border-width: 3px;
  border-style: solid;
}

/* line 379, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-collapsed .x-window-header-olm-modern-popup,
.x-panel-collapsed .x-panel-header-olm-modern-popup {
  border-color: #414141;
}

/* line 384, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-popup-vertical {
  border-color: #414141;
}

/* line 432, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-collapsed .x-panel-header-olm-modern-popup-top {
  -moz-border-radius-bottomleft: null;
  -webkit-border-bottom-left-radius: null;
  border-bottom-left-radius: null;
  -moz-border-radius-bottomright: null;
  -webkit-border-bottom-right-radius: null;
  border-bottom-right-radius: null;
}
/* line 436, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-collapsed .x-panel-header-olm-modern-popup-right {
  -moz-border-radius-topleft: null;
  -webkit-border-top-left-radius: null;
  border-top-left-radius: null;
  -moz-border-radius-bottomleft: null;
  -webkit-border-bottom-left-radius: null;
  border-bottom-left-radius: null;
}
/* line 440, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-collapsed .x-panel-header-olm-modern-popup-bottom {
  -moz-border-radius-topleft: null;
  -webkit-border-top-left-radius: null;
  border-top-left-radius: null;
  -moz-border-radius-topright: null;
  -webkit-border-top-right-radius: null;
  border-top-right-radius: null;
}
/* line 444, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-collapsed .x-panel-header-olm-modern-popup-left {
  -moz-border-radius-topright: null;
  -webkit-border-top-right-radius: null;
  border-top-right-radius: null;
  -moz-border-radius-bottomright: null;
  -webkit-border-bottom-right-radius: null;
  border-bottom-right-radius: null;
}

/* line 450, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-popup-top {
  -webkit-box-shadow: white 0 1px 0px 0 inset;
  -moz-box-shadow: white 0 1px 0px 0 inset;
  box-shadow: white 0 1px 0px 0 inset;
}

/* line 454, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-popup-right {
  -webkit-box-shadow: white -1px 0 0px 0 inset;
  -moz-box-shadow: white -1px 0 0px 0 inset;
  box-shadow: white -1px 0 0px 0 inset;
}

/* line 458, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-popup-bottom {
  -webkit-box-shadow: white 0 -1px 0px 0 inset;
  -moz-box-shadow: white 0 -1px 0px 0 inset;
  box-shadow: white 0 -1px 0px 0 inset;
}

/* line 462, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-popup-left {
  -webkit-box-shadow: white 1px 0 0px 0 inset;
  -moz-box-shadow: white 1px 0 0px 0 inset;
  box-shadow: white 1px 0 0px 0 inset;
}

/* line 497, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-popup-right-tc,
.x-panel-header-olm-modern-popup-right-mc,
.x-panel-header-olm-modern-popup-right-bc {
  background-position: right 0;
}

/* line 503, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-popup-bottom-tc,
.x-panel-header-olm-modern-popup-bottom-mc,
.x-panel-header-olm-modern-popup-bottom-bc {
  background-position: 0 bottom;
}

/* line 264, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-olm-modern-accordian-panel {
  border-color: black;
}

/* line 269, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-accordian-panel {
  font-size: 20px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #d3d3d3;
  -webkit-box-shadow: #ececec 0 1px 0px 0 inset;
  -moz-box-shadow: #ececec 0 1px 0px 0 inset;
  box-shadow: #ececec 0 1px 0px 0 inset;
}

/* line 354, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-text-olm-modern-accordian-panel {
  color: black;
  font-size: 20px;
  font-weight: normal;
  font-family: tahoma, arial, verdana, sans-serif;
  line-height: 15px;
}

/* line 432, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-collapsed .x-panel-header-olm-modern-accordian-panel-top {
  -moz-border-radius-bottomleft: null;
  -webkit-border-bottom-left-radius: null;
  border-bottom-left-radius: null;
  -moz-border-radius-bottomright: null;
  -webkit-border-bottom-right-radius: null;
  border-bottom-right-radius: null;
}
/* line 436, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-collapsed .x-panel-header-olm-modern-accordian-panel-right {
  -moz-border-radius-topleft: null;
  -webkit-border-top-left-radius: null;
  border-top-left-radius: null;
  -moz-border-radius-bottomleft: null;
  -webkit-border-bottom-left-radius: null;
  border-bottom-left-radius: null;
}
/* line 440, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-collapsed .x-panel-header-olm-modern-accordian-panel-bottom {
  -moz-border-radius-topleft: null;
  -webkit-border-top-left-radius: null;
  border-top-left-radius: null;
  -moz-border-radius-topright: null;
  -webkit-border-top-right-radius: null;
  border-top-right-radius: null;
}
/* line 444, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-collapsed .x-panel-header-olm-modern-accordian-panel-left {
  -moz-border-radius-topright: null;
  -webkit-border-top-right-radius: null;
  border-top-right-radius: null;
  -moz-border-radius-bottomright: null;
  -webkit-border-bottom-right-radius: null;
  border-bottom-right-radius: null;
}

/* line 450, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-accordian-panel-top {
  -webkit-box-shadow: #ececec 0 1px 0px 0 inset;
  -moz-box-shadow: #ececec 0 1px 0px 0 inset;
  box-shadow: #ececec 0 1px 0px 0 inset;
}

/* line 454, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-accordian-panel-right {
  -webkit-box-shadow: #ececec -1px 0 0px 0 inset;
  -moz-box-shadow: #ececec -1px 0 0px 0 inset;
  box-shadow: #ececec -1px 0 0px 0 inset;
}

/* line 458, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-accordian-panel-bottom {
  -webkit-box-shadow: #ececec 0 -1px 0px 0 inset;
  -moz-box-shadow: #ececec 0 -1px 0px 0 inset;
  box-shadow: #ececec 0 -1px 0px 0 inset;
}

/* line 462, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-accordian-panel-left {
  -webkit-box-shadow: #ececec 1px 0 0px 0 inset;
  -moz-box-shadow: #ececec 1px 0 0px 0 inset;
  box-shadow: #ececec 1px 0 0px 0 inset;
}

/* line 497, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-accordian-panel-right-tc,
.x-panel-header-olm-modern-accordian-panel-right-mc,
.x-panel-header-olm-modern-accordian-panel-right-bc {
  background-position: right 0;
}

/* line 503, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_panel.scss */
.x-panel-header-olm-modern-accordian-panel-bottom-tc,
.x-panel-header-olm-modern-accordian-panel-bottom-mc,
.x-panel-header-olm-modern-accordian-panel-bottom-bc {
  background-position: 0 bottom;
}

/* line 122, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_window.scss */
.x-window-olm-modern-window {
  border-color: #414141;
}

/* line 141, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_window.scss */
.x-window-body-olm-modern-window {
  background: #aba7a7;
}

/* line 151, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_window.scss */
.x-window-header-olm-modern-window {
  font-size: 11px;
  border-color: #414141;
  zoom: 1;
}

/* line 157, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_window.scss */
.x-window-header-text-olm-modern-window {
  font-weight: bold;
  line-height: 15px;
  font-family: tahoma, arial, verdana, sans-serif;
  font-size: 11px;
}

/* line 180, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_window.scss */
.x-window-header-olm-modern-window-top {
  -webkit-box-shadow: null 0 1px 0px 0 inset, null -1px 0 0px 0 inset, null 1px 0 0px 0 inset;
  -moz-box-shadow: null 0 1px 0px 0 inset, null -1px 0 0px 0 inset, null 1px 0 0px 0 inset;
  box-shadow: null 0 1px 0px 0 inset, null -1px 0 0px 0 inset, null 1px 0 0px 0 inset;
}

/* line 184, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_window.scss */
.x-window-header-olm-modern-window-right {
  -webkit-box-shadow: null 0 1px 0px 0 inset, null 0 -1px 0px 0 inset, null -1px 0 0px 0 inset;
  -moz-box-shadow: null 0 1px 0px 0 inset, null 0 -1px 0px 0 inset, null -1px 0 0px 0 inset;
  box-shadow: null 0 1px 0px 0 inset, null 0 -1px 0px 0 inset, null -1px 0 0px 0 inset;
}

/* line 188, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_window.scss */
.x-window-header-olm-modern-window-bottom {
  -webkit-box-shadow: null 0 -1px 0px 0 inset, null -1px 0 0px 0 inset, null 1px 0 0px 0 inset;
  -moz-box-shadow: null 0 -1px 0px 0 inset, null -1px 0 0px 0 inset, null 1px 0 0px 0 inset;
  box-shadow: null 0 -1px 0px 0 inset, null -1px 0 0px 0 inset, null 1px 0 0px 0 inset;
}

/* line 192, ../../../../ext/resources/themes/stylesheets/ext4/default/widgets/_window.scss */
.x-window-header-olm-modern-window-left {
  -webkit-box-shadow: null 0 1px 0px 0 inset, null 0 -1px 0px 0 inset, null 1px 0 0px 0 inset;
  -moz-box-shadow: null 0 1px 0px 0 inset, null 0 -1px 0px 0 inset, null 1px 0 0px 0 inset;
  box-shadow: null 0 1px 0px 0 inset, null 0 -1px 0px 0 inset, null 1px 0 0px 0 inset;
}
